/* Rezza by  */
:root {
    --base00:#222222;
    --base01:#191919;
    --base02:#252525;
    --base03:#92b19e;
    --base04:#ffffff;
    --base05:#dddddd;
    --base06:#dddddd;
    --base07:#dddddd;
    --base08:#803232;
    --base09:#aa9943;
    --base0A:#324c80;
    --base0B:#5b762f;
    --base0C:#92b19e;
    --base0D:#324c80;
    --base0E:#706c9a;
    --base0F:#ffffff;
}