/* Kasugano by Kori Ayakashi */
:root {
    --base00:#1b1b1b;
    --base01:#3D3D3D;
    --base02:#4D4D4D;
    --base03:#8292B2;
    --base04:#C8CACC;
    --base05:#ffffff;
    --base06:#EDEFF2;
    --base07:#EDEFF2;
    --base08:#6673BF;
    --base09:#B0EAD9;
    --base0A:#31658C;
    --base0B:#3EA290;
    --base0C:#8292B2;
    --base0D:#31658C;
    --base0E:#596196;
    --base0F:#C8CACC;
}