/* Mostly Bright by m83 */
:root {
    --base00:#F3F3F3;
    --base01:#D3D3D3;
    --base02:#B3B3B3;
    --base03:#95C1C0;
    --base04:#707070;
    --base05:#707070;
    --base06:#909090;
    --base07:#909090;
    --base08:#EF6B7B;
    --base09:#F59335;
    --base0A:#4EC2E8;
    --base0B:#A1D569;
    --base0C:#95C1C0;
    --base0D:#4EC2E8;
    --base0E:#FEC7CD;
    --base0F:#707070;
}