/* Nature Suede by Gslob */
/* Ported to base16 by Tillreetree */

:root {
    --base00: #170f0d;
    --base01: #392925;
    --base02: #544b2e;
    --base03: #6b5644;
    --base04: #98724c;
    --base05: #746c48;
    --base06: #c3c13d;
    --base07: #e4dc8c;
    --base08: #af652f;
    --base09: #aa964c;
    --base0A: #c3c13d;
    --base0B: #778725;
    --base0C: #70a16c;
    --base0D: #908f32;
    --base0E: #c8b55b;
    --base0F: #c8b55b;
}