/* Iiamblack by iiamblack */
:root {
    --base00:#000000;
    --base01:#393939;
    --base02:#474747;
    --base03:#6e98a4;
    --base04:#dddddd;
    --base05:#ffffff;
    --base06:#dddddd;
    --base07:#dddddd;
    --base08:#ff6c5c;
    --base09:#bc9458;
    --base0A:#d0d0ff;
    --base0B:#a5c261;
    --base0C:#6e98a4;
    --base0D:#d0d0ff;
    --base0E:#a761c2;
    --base0F:#dddddd;
}