/* Euphrasia by  */
:root {
    --base00:#cfcfd9;
    --base01:#192033;
    --base02:#666666;
    --base03:#258f8f;
    --base04:#77858c;
    --base05:#1c2027;
    --base06:#c0c0c0;
    --base07:#c0c0c0;
    --base08:#a62a3e;
    --base09:#b27d12;
    --base0A:#355c9a;
    --base0B:#38912b;
    --base0C:#258f8f;
    --base0D:#355c9a;
    --base0E:#7c4f9f;
    --base0F:#77858c;
}