/* Base2tone Lake Dark by atelierbram(https://github.com/atelierbram/Base2Tone-nvim) */
:root {
    --base00:#192d34;
    --base01:#223c44;
    --base02:#335966;
    --base03:#467686;
    --base04:#3e91ac;
    --base05:#d5d4cd;
    --base06:#e8e7e3;
    --base07:#fafaf9;
    --base08:#499fbc;
    --base09:#ffeb66;
    --base0A:#a5d8e9;
    --base0B:#cbbb4d;
    --base0C:#499fbc;
    --base0D:#a5d8e9;
    --base0E:#ffeb66;
    --base0F:#84740b;
}