/* KawaiiTheme by diff001a (http://github.com/diff001a) */

:root {
  --base00: #353042;
  --base01: #2C2638;
  --base02: #787878;
  --base03: #857282;
  --base04: #FFF0F5;
  --base05: #FFF0F5;
  --base07: #ffffff;
  --base06: #ffffff;
  --base08: #ff709b;
  --base09: #FFA7C4;
  --base0A: #37e884;
  --base0B: #FFA7C4;
  --base0C: #CE85F8;
  --base0D: #FFE175;
  --base0E: #ff709b;
  --base0F: #ec9a5e;
}
