/* Pastel White by Muzieca */
:root {
    --base00:#000000;
    --base01:#646e5b;
    --base02:#88927e;
    --base03:#69e1d3;
    --base04:#9ea894;
    --base05:#ffffff;
    --base06:#c9d0c2;
    --base07:#c9d0c2;
    --base08:#db7464;
    --base09:#dbd560;
    --base0A:#69b2d6;
    --base0B:#a7e160;
    --base0C:#69e1d3;
    --base0D:#69b2d6;
    --base0E:#a073d6;
    --base0F:#9ea894;
}