/* Base2tone Field Dark by atelierbram(https://github.com/atelierbram/Base2Tone-nvim) */
:root {
    --base00:#18201e;
    --base01:#242e2c;
    --base02:#42524f;
    --base03:#667a77;
    --base04:#0fbda0;
    --base05:#c7d1cb;
    --base06:#e3e8e5;
    --base07:#f9fbfa;
    --base08:#25d0b4;
    --base09:#85ffb8;
    --base0A:#88f2e0;
    --base0B:#3be381;
    --base0C:#25d0b4;
    --base0D:#88f2e0;
    --base0E:#85ffb8;
    --base0F:#00943e;
}