/* Base2tone Cave Dark by atelierbram(https://github.com/atelierbram/Base2Tone-nvim) */
:root {
    --base00:#222021;
    --base01:#2f2d2e;
    --base02:#565254;
    --base03:#706b6d;
    --base04:#936c7a;
    --base05:#d6d3cc;
    --base06:#eae7e1;
    --base07:#fbfaf9;
    --base08:#9c818b;
    --base09:#ffcc4d;
    --base0A:#f0a8c1;
    --base0B:#cca133;
    --base0C:#9c818b;
    --base0D:#f0a8c1;
    --base0E:#ffcc4d;
    --base0F:#996e00;
}