/* Quiet Light by Ian Beck(https://github.com/onecrayon/theme-quietlight-vsc) */

:root {
    --base00: #f5f5f5;/*#181818;*/
    --base01: #a1a8b1;/*#282828;*/
    --base02: #a8a19f;/*#383838;*/
    --base03: #aaaaaa;/*#585858;*/
    --base04: #777777;/*#b8b8b8;*/
    --base05: #333333;/*#d8d8d8;*/
    --base06: #705697;/*#e8e8e8;*/
    --base07: #000000;/*#f8f8f8;*/
    --base08: #aa3731;/*#ab4642;*/
    --base09: #ab6526;/*#dc9656;*/
    --base0A: #ffe055;/*#f7ca88;*/
    --base0B: #448c27;/*#a1b56c;*/
    --base0C: #91b3e0;/*#86c1b9;*/
    --base0D: #4b83cd;/*#7cafc2;*/
    --base0E: #7a3e9d;/*#ba8baf;*/
    --base0F: #705697;/*#a16946;*/
}
