/* Minty Melon by antonio-hickey(https://github.com/antonio-hickey/minty-melon) */

:root {
  --base00: #151515;
  --base01: #151515;
  --base02: #1F1F1F;
  --base03: #565656;
  --base04: #565656;
  --base05: #B1B1B1;
  --base06: #B1B1B1;
  --base07: #FFFFFF;
  --base08: #CF5C5C;
  --base09: #FFD75F;
  --base0A: #C6804E;
  --base0B: #267055;
  --base0C: #CF5C5C;
  --base0D: #637EAA;
  --base0E: #8FC9A3;
  --base0F: #FFBBB4;
}
