/* Vacuous 2 by hal */
:root {
    --base00:#101010;
    --base01:#202020;
    --base02:#606060;
    --base03:#0f829d;
    --base04:#909090;
    --base05:#d2c5bc;
    --base06:#fff0f0;
    --base07:#fff0f0;
    --base08:#d14548;
    --base09:#fae3a0;
    --base0A:#7491a1;
    --base0B:#a7b79a;
    --base0C:#0f829d;
    --base0D:#7491a1;
    --base0E:#87314e;
    --base0F:#fff0f0;
}