/* Base2tone Suburb Dark by atelierbram(https://github.com/atelierbram/Base2Tone-nvim) */
:root {
    --base00:#1e202f;
    --base01:#292c3d;
    --base02:#444864;
    --base03:#5b6080;
    --base04:#7586f5;
    --base05:#d7cbd0;
    --base06:#eae1e5;
    --base07:#fbf9fa;
    --base08:#8696fd;
    --base09:#ffb3d2;
    --base0A:#d2d8fe;
    --base0B:#fb6fa9;
    --base0C:#8696fd;
    --base0D:#d2d8fe;
    --base0E:#ffb3d2;
    --base0F:#d14781;
}