/* phpcolors by modess(https://github.com/modess/vim-phpcolors) */

:root {
  --base00: #292929;
  --base01: #333333;
  --base02: #1c686d;
  --base03: #999999;
  --base04: #93b5bf;
  --base05: #f0f0f0;
  --base06: #75f3ff;
  --base07: #ffffff;
  --base08: #ff7789;
  --base09: #7fed96;
  --base0A: #fff685;
  --base0B: #CFFFB0;
  --base0C: #f8a4e7;
  --base0D: #6ee4ef;
  --base0E: #7fed96;
  --base0F: #f8a4e7;
}
