/* X::DotShare by crshd */
:root {
    --base00:#151515;
    --base01:#101010;
    --base02:#404040;
    --base03:#42717B;
    --base04:#DDDDDD;
    --base05:#D7D0C7;
    --base06:#DDDDDD;
    --base07:#DDDDDD;
    --base08:#D23D3D;
    --base09:#F39D21;
    --base0A:#4E9FB1;
    --base0B:#A0CF5D;
    --base0C:#42717B;
    --base0D:#4E9FB1;
    --base0E:#8542FF;
    --base0F:#DDDDDD;
}