/* Base2tone Field Light by atelierbram(https://github.com/atelierbram/Base2Tone-nvim) */
:root {
    --base00:#f9fbfa;
    --base01:#e3e8e5;
    --base02:#c7d1cb;
    --base03:#aebcb4;
    --base04:#0fbda0;
    --base05:#42524f;
    --base06:#242e2c;
    --base07:#18201e;
    --base08:#037764;
    --base09:#25d46e;
    --base0A:#0fbda0;
    --base0B:#00943e;
    --base0C:#65e6d1;
    --base0D:#037764;
    --base0E:#00943e;
    --base0F:#69f7a4;
}