/* Mikazuki by  */
:root {
    --base00:#000000;
    --base01:#2a1d17;
    --base02:#4f362b;
    --base03:#a167c7;
    --base04:#e9e9e9;
    --base05:#ffffff;
    --base06:#fdfdfd;
    --base07:#fdfdfd;
    --base08:#da4375;
    --base09:#e3da84;
    --base0A:#8ca8a3;
    --base0B:#6cb87a;
    --base0C:#a167c7;
    --base0D:#8ca8a3;
    --base0E:#ffa64f;
    --base0F:#fdfdfd;
}