/* Color Star by dkeg */
:root {
    --base00:#000000;
    --base01:#03010f;
    --base02:#ab9e9e;
    --base03:#7c83c0;
    --base04:#9a600f;
    --base05:#d3d3d3;
    --base06:#f6f4df;
    --base07:#f6f4df;
    --base08:#503b43;
    --base09:#8c2424;
    --base0A:#6067ac;
    --base0B:#353b64;
    --base0C:#7c83c0;
    --base0D:#6067ac;
    --base0E:#624d19;
    --base0F:#9a600f;
}