/* Count Von Count by Baskerville */
:root {
    --base00:#000000;
    --base01:#303030;
    --base02:#5e5e5e;
    --base03:#9a413d;
    --base04:#c6c6c6;
    --base05:#919191;
    --base06:#ffffff;
    --base07:#ffffff;
    --base08:#c10023;
    --base09:#b51d2c;
    --base0A:#8c4b46;
    --base0B:#a83334;
    --base0C:#9a413d;
    --base0D:#8c4b46;
    --base0E:#7d534f;
    --base0F:#c6c6c6;
}