/* Deafened by  */
:root {
    --base00:#000000;
    --base01:#3d3e3d;
    --base02:#5a5b5c;
    --base03:#899ca1;
    --base04:#ccccc6;
    --base05:#ffffff;
    --base06:#f8f8f2;
    --base07:#f8f8f2;
    --base08:#a37679;
    --base09:#a39b76;
    --base0A:#758ba3;
    --base0B:#87a376;
    --base0C:#899ca1;
    --base0D:#758ba3;
    --base0E:#9f76a3;
    --base0F:#f8f8f2;
}