/* Base2tone Morning Light by atelierbram(https://github.com/atelierbram/Base2Tone-nvim) */
:root {
    --base00:#faf8f5;
    --base01:#e3dcce;
    --base02:#cdc4b1;
    --base03:#b6ad9a;
    --base04:#1659df;
    --base05:#4f5664;
    --base06:#31363f;
    --base07:#232834;
    --base08:#063289;
    --base09:#9a7c42;
    --base0A:#1659df;
    --base0B:#2d2006;
    --base0C:#93abdc;
    --base0D:#063289;
    --base0E:#2d2006;
    --base0F:#d1c2a3;
}