/* Sex Colors by  */
:root {
    --base00:#000000;
    --base01:#252525;
    --base02:#454545;
    --base03:#a3babf;
    --base04:#dbdcdc;
    --base05:#ffffff;
    --base06:#fdfdfd;
    --base07:#fdfdfd;
    --base08:#ff8d80;
    --base09:#fd971f;
    --base0A:#587aa4;
    --base0B:#b6e354;
    --base0C:#a3babf;
    --base0D:#587aa4;
    --base0E:#46a4ff;
    --base0F:#fdfdfd;
}