/* Base2tone Meadow Light by atelierbram(https://github.com/atelierbram/Base2Tone-nvim) */
:root {
    --base00:#fafbf9;
    --base01:#e6e8e3;
    --base02:#d1d6cd;
    --base03:#bdc3b7;
    --base04:#277fbe;
    --base05:#335166;
    --base06:#223644;
    --base07:#192834;
    --base08:#1b6498;
    --base09:#73b234;
    --base0A:#277fbe;
    --base0B:#4d8217;
    --base0C:#8dcefc;
    --base0D:#1b6498;
    --base0E:#4d8217;
    --base0F:#99eb47;
}