/* Numix Darkest by  */
:root {
    --base00:#282828;
    --base01:#555555;
    --base02:#888888;
    --base03:#288e9c;
    --base04:#a2a2a2;
    --base05:#a2a2a2;
    --base06:#f9f9f9;
    --base07:#f9f9f9;
    --base08:#9c3528;
    --base09:#f3b43a;
    --base0A:#0d68a8;
    --base0B:#61bc3b;
    --base0C:#288e9c;
    --base0D:#0d68a8;
    --base0E:#744560;
    --base0F:#a2a2a2;
}