/* Gotham by whatyouhide */
:root {
    --base00:#0a0f14;
    --base01:#0a0f14;
    --base02:#10151b;
    --base03:#599caa;
    --base04:#98d1ce;
    --base05:#98d1ce;
    --base06:#d3ebe9;
    --base07:#d3ebe9;
    --base08:#d26939;
    --base09:#245361;
    --base0A:#093748;
    --base0B:#081f2d;
    --base0C:#599caa;
    --base0D:#093748;
    --base0E:#888ba5;
    --base0F:#d3ebe9;
}