/* Parker Brothers by  */
:root {
    --base00:#000000;
    --base01:#322a2c;
    --base02:#46423b;
    --base03:#393e38;
    --base04:#ae8842;
    --base05:#ffffff;
    --base06:#a59058;
    --base07:#a59058;
    --base08:#aa261f;
    --base09:#b57f02;
    --base0A:#908862;
    --base0B:#76550f;
    --base0C:#393e38;
    --base0D:#908862;
    --base0E:#624a35;
    --base0F:#a59058;
}