/* tlh by  */
:root {
    --base00:#101010;
    --base01:#1c1c1c;
    --base02:#4d4d4d;
    --base03:#69b8ce;
    --base04:#f3ebe2;
    --base05:#66ff66;
    --base06:#eeeeee;
    --base07:#eeeeee;
    --base08:#f00060;
    --base09:#f9fd80;
    --base0A:#5a9dc8;
    --base0B:#70ff70;
    --base0C:#69b8ce;
    --base0D:#5a9dc8;
    --base0E:#b29fdb;
    --base0F:#eeeeee;
}