/* Base2tone Evening Light by atelierbram(https://github.com/atelierbram/Base2Tone-nvim) */
:root {
    --base00:#fbfaf9;
    --base01:#ebe6e0;
    --base02:#d8d1ca;
    --base03:#c3bdb6;
    --base04:#8a75f5;
    --base05:#545167;
    --base06:#363342;
    --base07:#2a2734;
    --base08:#6a51e6;
    --base09:#ffa142;
    --base0A:#8a75f5;
    --base0B:#b37537;
    --base0C:#c4b9fe;
    --base0D:#6a51e6;
    --base0E:#b37537;
    --base0F:#ffc285;
}