/* Mono Theme by  */
:root {
    --base00:#000000;
    --base01:#000000;
    --base02:#202020;
    --base03:#c0c0c0;
    --base04:#b5cabb;
    --base05:#ffffff;
    --base06:#99ac9e;
    --base07:#99ac9e;
    --base08:#464646;
    --base09:#eeeeee;
    --base0A:#7c7c7c;
    --base0B:#f8f8f8;
    --base0C:#c0c0c0;
    --base0D:#7c7c7c;
    --base0E:#adadad;
    --base0F:#99ac9e;
}