/* Bitmute by  */
:root {
    --base00:#000000;
    --base01:#282828;
    --base02:#494949;
    --base03:#758c93;
    --base04:#8e8e8e;
    --base05:#ffffff;
    --base06:#aeaeae;
    --base07:#aeaeae;
    --base08:#b87e7e;
    --base09:#919864;
    --base0A:#73718f;
    --base0B:#839d84;
    --base0C:#758c93;
    --base0D:#73718f;
    --base0E:#987397;
    --base0F:#aeaeae;
}