/* hund by hund */
:root {
    --base00:#161616;
    --base01:#222222;
    --base02:#666666;
    --base03:#42717B;
    --base04:#DDDDDD;
    --base05:#FFFFFF;
    --base06:#CCCCCC;
    --base07:#CCCCCC;
    --base08:#D23D3D;
    --base09:#FFE863;
    --base0A:#AACCBB;
    --base0B:#BDE077;
    --base0C:#42717B;
    --base0D:#AACCBB;
    --base0E:#E16A98;
    --base0F:#CCCCCC;
}