/* Github Dark by Cormac Relf(https://github.com/cormacrelf/vim-colors-github/) */

:root {
  --base00: #24292e;
  --base01: #2d343a;
  --base02: #41484f;
  --base03: #6a737d;
  --base04: #babbbc;
  --base05: #fafbfc;
  --base06: #ffffff;
  --base07: #f6f8fa;
  --base08: #f16636;
  --base09: #f18338;
  --base0A: #ffffc5;
  --base0B: #59b36f;
  --base0C: #aacce4;
  --base0D: #4dacfd;
  --base0E: #a887e6;
  --base0F: #b74951;
}
