/* Navy and Ivory by hal */
:root {
    --base00:#021b21;
    --base01:#032c36;
    --base02:#065f73;
    --base03:#9ed9d8;
    --base04:#f2f1b9;
    --base05:#e8dfd6;
    --base06:#f6f6c9;
    --base07:#f6f6c9;
    --base08:#ef5847;
    --base09:#beb090;
    --base0A:#61778d;
    --base0B:#a2d9b1;
    --base0C:#9ed9d8;
    --base0D:#61778d;
    --base0E:#ff99a1;
    --base0F:#f6f6c9;
}