/* Splurge by  */
:root {
    --base00:#000000;
    --base01:#4a4b4a;
    --base02:#696969;
    --base03:#6fccd1;
    --base04:#dbdcdc;
    --base05:#ffffff;
    --base06:#fdfdfd;
    --base07:#fdfdfd;
    --base08:#d7699a;
    --base09:#d7a169;
    --base0A:#6985d7;
    --base0B:#80d468;
    --base0C:#6fccd1;
    --base0D:#6985d7;
    --base0E:#c86ad4;
    --base0F:#dbdcdc;
}