/* DWM rob by  */
:root {
    --base00:#000000;
    --base01:#151515;
    --base02:#505450;
    --base03:#88aadd;
    --base04:#ffffff;
    --base05:#ffffff;
    --base06:#dedede;
    --base07:#dedede;
    --base08:#bf7979;
    --base09:#cdcda1;
    --base0A:#4a5463;
    --base0B:#97b26b;
    --base0C:#88aadd;
    --base0D:#4a5463;
    --base0E:#9c3885;
    --base0F:#ffffff;
}