/* Mashup Colors by user 77 */
:root {
    --base00:#171717;
    --base01:#202020;
    --base02:#404040;
    --base03:#757978;
    --base04:#b2a191;
    --base05:#b2a191;
    --base06:#e8d0c3;
    --base07:#e8d0c3;
    --base08:#bf3f34;
    --base09:#bf7a29;
    --base0A:#627a92;
    --base0B:#707d22;
    --base0C:#757978;
    --base0D:#627a92;
    --base0E:#75507b;
    --base0F:#b2a191;
}