/* Base2tone Lavender Light by atelierbram(https://github.com/atelierbram/Base2Tone-nvim) */
:root {
    --base00:#faf8fc;
    --base01:#ece4f1;
    --base02:#d8cce0;
    --base03:#c4b6ce;
    --base04:#9375f5;
    --base05:#4b455f;
    --base06:#2c2839;
    --base07:#201d2a;
    --base08:#7451e6;
    --base09:#ca80ff;
    --base0A:#9375f5;
    --base0B:#b042ff;
    --base0C:#c9b9fe;
    --base0D:#7451e6;
    --base0E:#b042ff;
    --base0F:#e3bdff;
}