/* Canvased Pastel by dkeg */
:root {
    --base00:#170f0d;
    --base01:#26251c;
    --base02:#999f91;
    --base03:#d3d4b6;
    --base04:#837b61;
    --base05:#746c48;
    --base06:#d6d3ac;
    --base07:#d6d3ac;
    --base08:#9b9773;
    --base09:#c4bb8c;
    --base0A:#c4b67a;
    --base0B:#b2b08c;
    --base0C:#d3d4b6;
    --base0D:#c4b67a;
    --base0E:#cfc995;
    --base0F:#d6d3ac;
}