/* DWM rob by  */
:root {
    --base00:#000000;
    --base01:#151515;
    --base02:#505450;
    --base03:#99ccff;
    --base04:#ffffff;
    --base05:#ffffff;
    --base06:#dedede;
    --base07:#dedede;
    --base08:#f4a45f;
    --base09:#ffffaf;
    --base0A:#7d8794;
    --base0B:#c5f779;
    --base0C:#99ccff;
    --base0D:#7d8794;
    --base0E:#e628ba;
    --base0F:#dedede;
}