/* X::Erosion by earsplit */
:root {
    --base00:#181512;
    --base01:#332D29;
    --base02:#817267;
    --base03:#556D70;
    --base04:#504339;
    --base05:#BEA492;
    --base06:#9A875F;
    --base07:#9A875F;
    --base08:#9F7155;
    --base09:#9C956E;
    --base0A:#71777A;
    --base0B:#857B52;
    --base0C:#556D70;
    --base0D:#71777A;
    --base0E:#656565;
    --base0F:#9A875F;
}