/* Derp by  */
:root {
    --base00:#000000;
    --base01:#111111;
    --base02:#666666;
    --base03:#5e7175;
    --base04:#bebebe;
    --base05:#ffffff;
    --base06:#ffffff;
    --base07:#ffffff;
    --base08:#d36265;
    --base09:#e7e18c;
    --base0A:#5297cf;
    --base0B:#aece91;
    --base0C:#5e7175;
    --base0D:#5297cf;
    --base0E:#963c59;
    --base0F:#bebebe;
}