/* Muse by  */
:root {
    --base00:#000000;
    --base01:#2e3436;
    --base02:#555753;
    --base03:#06989a;
    --base04:#d3d7cf;
    --base05:#ffffff;
    --base06:#eeeeec;
    --base07:#eeeeec;
    --base08:#a31604;
    --base09:#c1951a;
    --base0A:#425387;
    --base0B:#447241;
    --base0C:#06989a;
    --base0D:#425387;
    --base0E:#965d98;
    --base0F:#d3d7cf;
}