/* JWR dark by  */
:root {
    --base00:#000000;
    --base01:#333333;
    --base02:#3d3d3d;
    --base03:#6096bf;
    --base04:#899ca1;
    --base05:#ffffff;
    --base06:#c0c0c0;
    --base07:#c0c0c0;
    --base08:#bf4d80;
    --base09:#9e9ecb;
    --base0A:#477ab3;
    --base0B:#53a6a6;
    --base0C:#6096bf;
    --base0D:#477ab3;
    --base0E:#7e62b3;
    --base0F:#c0c0c0;
}