/* Neon by  */
:root {
    --base00:#171717;
    --base01:#171717;
    --base02:#38252c;
    --base03:#0fdcb6;
    --base04:#ebebeb;
    --base05:#f8f8f8;
    --base06:#f8f8f8;
    --base07:#f8f8f8;
    --base08:#d81765;
    --base09:#ffa800;
    --base0A:#16b1fb;
    --base0B:#97d01a;
    --base0C:#0fdcb6;
    --base0D:#16b1fb;
    --base0E:#ff2491;
    --base0F:#ebebeb;
}