/* Lumifoo by Gutterslob */
:root {
    --base00:#1e2021;
    --base01:#515151;
    --base02:#707172;
    --base03:#a4d0c1;
    --base04:#919191;
    --base05:#888a8c;
    --base06:#d0d0d0;
    --base07:#d0d0d0;
    --base08:#eaaec2;
    --base09:#d4c3a0;
    --base0A:#afc4e9;
    --base0B:#aed49b;
    --base0C:#a4d0c1;
    --base0D:#afc4e9;
    --base0E:#d2b1e2;
    --base0F:#d0d0d0;
}