/* Base2tone Space Dark by atelierbram(https://github.com/atelierbram/Base2Tone-nvim) */
:root {
    --base00:#24242e;
    --base01:#333342;
    --base02:#515167;
    --base03:#737391;
    --base04:#7676f4;
    --base05:#d8cfcb;
    --base06:#eae4e1;
    --base07:#fbf9f9;
    --base08:#767693;
    --base09:#fe8c52;
    --base0A:#cecee3;
    --base0B:#ec7336;
    --base0C:#767693;
    --base0D:#cecee3;
    --base0E:#fe8c52;
    --base0F:#b25424;
}