/* Jason Wryan by  */
:root {
    --base00:#000000;
    --base01:#222222;
    --base02:#454545;
    --base03:#8fadbf;
    --base04:#909090;
    --base05:#ffffff;
    --base06:#ffffff;
    --base07:#ffffff;
    --base08:#cc896d;
    --base09:#bfb556;
    --base0A:#6bc1d0;
    --base0B:#7db37d;
    --base0C:#8fadbf;
    --base0D:#6bc1d0;
    --base0E:#c18fcb;
    --base0F:#ffffff;
}