/* Dark Ocean by DOOMICIDE */
:root {
    --base00:#000000;
    --base01:#000000;
    --base02:#38372c;
    --base03:#4f3a5e;
    --base04:#999999;
    --base05:#ffffff;
    --base06:#ffffff;
    --base07:#ffffff;
    --base08:#571dc2;
    --base09:#403d70;
    --base0A:#385a70;
    --base0B:#14db49;
    --base0C:#4f3a5e;
    --base0D:#385a70;
    --base0E:#384894;
    --base0F:#999999;
}