/* Ivory Dark by Baskerville */
:root {
    --base00:#2d2c28;
    --base01:#5b5955;
    --base02:#707277;
    --base03:#53cad9;
    --base04:#dbdde2;
    --base05:#a4a6ab;
    --base06:#f7f9ff;
    --base07:#f7f9ff;
    --base08:#f6a299;
    --base09:#cab775;
    --base0A:#98bbfb;
    --base0B:#82c896;
    --base0C:#53cad9;
    --base0D:#98bbfb;
    --base0E:#e5a4db;
    --base0F:#f7f9ff;
}