/* Teva by dkeg */
:root {
    --base00:#170f0d;
    --base01:#191f31;
    --base02:#706d56;
    --base03:#ad9152;
    --base04:#66695d;
    --base05:#746c48;
    --base06:#c6a13f;
    --base07:#c6a13f;
    --base08:#8b7852;
    --base09:#91703a;
    --base0A:#948658;
    --base0B:#909581;
    --base0C:#ad9152;
    --base0D:#948658;
    --base0E:#a19662;
    --base0F:#c6a13f;
}