/* aikofog by Gutterslob */
:root {
    --base00:#f1eee9;
    --base01:#757475;
    --base02:#4a4a4a;
    --base03:#637e7b;
    --base04:#9a9a9a;
    --base05:#b2b3b8;
    --base06:#c4c4c4;
    --base07:#c4c4c4;
    --base08:#936a6f;
    --base09:#7f7b62;
    --base0A:#6e7291;
    --base0B:#668462;
    --base0C:#637e7b;
    --base0D:#6e7291;
    --base0E:#846887;
    --base0F:#9a9a9a;
}