/* astromouse by  */
:root {
    --base00:#000000;
    --base01:#1c1c1c;
    --base02:#3d3a3a;
    --base03:#6ec2a8;
    --base04:#8d8d8d;
    --base05:#ffffff;
    --base06:#dad3d3;
    --base07:#dad3d3;
    --base08:#d28abf;
    --base09:#c8bc45;
    --base0A:#8fa7b9;
    --base0B:#8fb676;
    --base0C:#6ec2a8;
    --base0D:#8fa7b9;
    --base0E:#bd89de;
    --base0F:#dad3d3;
}