/* Panels by dkeg */
/* Ported to base16 by Tillreetree */

:root {
    --base00: #191927;
    --base01: #282f5e;
    --base02: #2b4593;
    --base03: #744537;
    --base04: #905749;
    --base05: #d3d3d3;
    --base06: #eaaf25;
    --base07: #fca806;
    --base08: #94431c;
    --base09: #a38687;
    --base0A: #e1750f;
    --base0B: #eaaf25;
    --base0C: #9f582a;
    --base0D: #9f582a;
    --base0E: #fa8e08;
    --base0F: #905749;
}