/* Mostly Bright by m83 */
:root {
    --base00:#F3F3F3;
    --base01:#D3D3D3;
    --base02:#B3B3B3;
    --base03:#75A1A0;
    --base04:#707070;
    --base05:#707070;
    --base06:#909090;
    --base07:#909090;
    --base08:#ED5466;
    --base09:#F59335;
    --base0A:#5DC7EA;
    --base0B:#AFDB80;
    --base0C:#75A1A0;
    --base0D:#5DC7EA;
    --base0E:#D2A4B4;
    --base0F:#909090;
}