/* VWbug by dkeg */
/* Port to Base16 By Tillreetree */

:root{
    --base00: #faf7f2;
    --base01: #e7ddd1;
    --base02: #d9c9b6;
    --base03: #c4ab98;
    --base04: #8e7266;
    --base05: #746c48;
    --base06: #312c38;
    --base07: #170f0d;
    --base08: #ad6042;
    --base09: #906756;
    --base0A: #312c38;
    --base0B: #927e7e;
    --base0C: #312c38;
    --base0D: #503b43;
    --base0E: #b48b6f;
    --base0F: #6e5450;}