/* Mono by Muzieca */
:root {
    --base00:#000000;
    --base01:#000000;
    --base02:#090909;
    --base03:#707070;
    --base04:#777777;
    --base05:#ffffff;
    --base06:#818181;
    --base07:#818181;
    --base08:#181818;
    --base09:#393939;
    --base0A:#484848;
    --base0B:#272727;
    --base0C:#707070;
    --base0D:#484848;
    --base0E:#595959;
    --base0F:#818181;
}