/* Mikuconsole Normal Light by fengT-T(https://github.com/fengT-T/Mikuconsole) */

:root {
  --base00: #ffffff;/* B */
  --base01: #dbe1e1;
  --base02: #c2cccc;
  --base03: #00c3bf;/* 6 */
  --base04: #6f7e7d;
  --base05: #818181;/* F */
  --base06: #364241;
  --base07: #1b2221;
  --base08: #05c8bf;/* 2 */
  --base09: #2c99d7;/* 4 */
  --base0A: #10d797;/* 7 */
  --base0B: #ffdb07;/* 3 */
  --base0C: #ff670a;/* 1 */
  --base0D: #00c3bf;/* 6 */
  --base0E: #b877d7;/* 5 */
  --base0F: #939393;/* 0 */
}
