/* Base2tone Sea Light by atelierbram(https://github.com/atelierbram/Base2Tone-nvim) */
:root {
    --base00:#f9fbfa;
    --base01:#e1eae7;
    --base02:#cbd7d3;
    --base03:#b7c2be;
    --base04:#34659d;
    --base05:#405368;
    --base06:#27323f;
    --base07:#1d262f;
    --base08:#004a9e;
    --base09:#0db57d;
    --base0A:#34659d;
    --base0B:#067953;
    --base0C:#7eb6f6;
    --base0D:#004a9e;
    --base0E:#067953;
    --base0F:#2aeaaa;
}