/* Base2tone Garden Dark by atelierbram(https://github.com/atelierbram/Base2Tone-nvim) */
:root {
    --base00:#1e1f1e;
    --base01:#2b2c2a;
    --base02:#505350;
    --base03:#696d69;
    --base04:#3fac39;
    --base05:#dbd0c7;
    --base06:#ece5df;
    --base07:#fbfaf8;
    --base08:#4cb946;
    --base09:#e0cab8;
    --base0A:#b7e3b5;
    --base0B:#db9257;
    --base0C:#4cb946;
    --base0D:#b7e3b5;
    --base0E:#e0cab8;
    --base0F:#bd5d0f;
}