/* Material by  */
:root {
    --base00:#263238;
    --base01:#263238;
    --base02:#37474f;
    --base03:#26a69a;
    --base04:#cfd8dc;
    --base05:#eceff1;
    --base06:#eceff1;
    --base07:#eceff1;
    --base08:#ffa74d;
    --base09:#ffa000;
    --base0A:#81d4fa;
    --base0B:#9ccc65;
    --base0C:#26a69a;
    --base0D:#81d4fa;
    --base0E:#ad1457;
    --base0F:#eceff1;
}