/* VWbug by dkeg */
/* Port to Base16 By Tillreetree */

:root{
    --base00: #170f0d;
    --base01: #261e26;
    --base02: #312c38;
    --base03: #746c48;
    --base04: #8e7266;
    --base05: #d9c9b6;
    --base06: #e7ddd1;
    --base07: #faf7f2;
    --base08: #ad6042;
    --base09: #927e7e;
    --base0A: #927e7e;
    --base0B: #b48b6f;
    --base0C: #8e7266;
    --base0D: #b48b6f;
    --base0E: #c4ab98;
    --base0F: #6e5450;}