/* astromouse by  */
:root {
    --base00:#000000;
    --base01:#1c1c1c;
    --base02:#3d3a3a;
    --base03:#7fcab3;
    --base04:#8d8d8d;
    --base05:#ffffff;
    --base06:#dad3d3;
    --base07:#dad3d3;
    --base08:#d770af;
    --base09:#d0d26b;
    --base0A:#77b6c5;
    --base0B:#9acc79;
    --base0C:#7fcab3;
    --base0D:#77b6c5;
    --base0E:#a488d9;
    --base0F:#8d8d8d;
}