/* fairyfloss by tssm(https://github.com/tssm/fairyfloss.vim) */

:root {
  --base00: #5a5475;
  --base01: #373348;
  --base02: #716799;
  --base03: #e6c000;
  --base04: #a8a4b1;
  --base05: #f8f8f0;
  --base06: #ae81ff;
  --base07: #a8a4D1;
  --base08: #c2ffdf;
  --base09: #c5a3ff;
  --base0A: #ffea00;
  --base0B: #ffb8d1;
  --base0C: #ff857f;
  --base0D: #fff352;
  --base0E: #ffb8d1;
  --base0F: #ff857f;
}
