/* Monokai by Cacodaimon */
:root {
    --base00:#272822;
    --base01:#48483e;
    --base02:#76715e;
    --base03:#56b7a5;
    --base04:#acada1;
    --base05:#f1ebeb;
    --base06:#cfd0c2;
    --base07:#cfd0c2;
    --base08:#dc2566;
    --base09:#d4c96e;
    --base0A:#55bcce;
    --base0B:#8fc029;
    --base0C:#56b7a5;
    --base0D:#55bcce;
    --base0E:#9358fe;
    --base0F:#acada1;
}