/* Base2tone Suburb Light by atelierbram(https://github.com/atelierbram/Base2Tone-nvim) */
:root {
    --base00:#fbf9fa;
    --base01:#eae1e5;
    --base02:#d7cbd0;
    --base03:#c2b7bc;
    --base04:#7586f5;
    --base05:#444864;
    --base06:#292c3d;
    --base07:#1e202f;
    --base08:#5165e6;
    --base09:#f764a1;
    --base0A:#7586f5;
    --base0B:#d14781;
    --base0C:#b9c2fe;
    --base0D:#5165e6;
    --base0E:#d14781;
    --base0F:#ff99c3;
}