/* Nudge by  */
:root {
    --base00:#000000;
    --base01:#658280;
    --base02:#8ca8a6;
    --base03:#3a6868;
    --base04:#110005;
    --base05:#ffffff;
    --base06:#330801;
    --base07:#330801;
    --base08:#a24b76;
    --base09:#9d5823;
    --base0A:#415c77;
    --base0B:#28634d;
    --base0C:#3a6868;
    --base0D:#415c77;
    --base0E:#532706;
    --base0F:#330801;
}