/* snowtrek terminal by machakann (https://github.com/machakann/vim-colorscheme-snowtrek) */

:root {
  --base00: #fbfbfc;
  --base01: #c0c0c0;
  --base02: #d5ebeb;
  --base03: #a0a0a0;
  --base04: #505050;
  --base05: #0c0c0c;
  --base06: #505050;
  --base07: #c0c0c0;
  --base08: #c00000;
  --base09: #967816;
  --base0A: #c29a16;
  --base0B: #00802d;
  --base0C: #318fb7;
  --base0D: #2053b4;
  --base0E: #841798;
  --base0F: #c760d0;
}