/* Nature Suede by Gslob */
:root {
    --base00:#170f0d;
    --base01:#392925;
    --base02:#544b2e;
    --base03:#5c5142;
    --base04:#c8b55b;
    --base05:#746c48;
    --base06:#e4dc8c;
    --base07:#e4dc8c;
    --base08:#98724c;
    --base09:#aa964c;
    --base0A:#7b854e;
    --base0B:#908f32;
    --base0C:#5c5142;
    --base0D:#7b854e;
    --base0E:#6b5644;
    --base0F:#c8b55b;
}