/* Epiphany by  */
:root {
    --base00:#000000;
    --base01:#565656;
    --base02:#656565;
    --base03:#505b6c;
    --base04:#ffffff;
    --base05:#ffffff;
    --base06:#c0c0c0;
    --base07:#c0c0c0;
    --base08:#e85555;
    --base09:#c5d67d;
    --base0A:#647396;
    --base0B:#8ccd6c;
    --base0C:#505b6c;
    --base0D:#647396;
    --base0E:#cdb4c9;
    --base0F:#c0c0c0;
}