/* Grandshell by  */
:root {
    --base00:#000000;
    --base01:#000000;
    --base02:#222222;
    --base03:#5af2ee;
    --base04:#bebebe;
    --base05:#bebebe;
    --base06:#eeeeee;
    --base07:#eeeeee;
    --base08:#ffbbbb;
    --base09:#f6df92;
    --base0A:#b2baf6;
    --base0B:#dcf692;
    --base0C:#5af2ee;
    --base0D:#b2baf6;
    --base0E:#f09fff;
    --base0F:#eeeeee;
}