/* Euphrasia by  */
:root {
    --base00:#cfcfd9;
    --base01:#192033;
    --base02:#666666;
    --base03:#60c6c8;
    --base04:#77858c;
    --base05:#1c2027;
    --base06:#c0c0c0;
    --base07:#c0c0c0;
    --base08:#f04758;
    --base09:#ddb62b;
    --base0A:#45a3e6;
    --base0B:#93c724;
    --base0C:#60c6c8;
    --base0D:#45a3e6;
    --base0E:#c953ef;
    --base0F:#c0c0c0;
}