/* Grandshell by  */
:root {
    --base00:#000000;
    --base01:#000000;
    --base02:#222222;
    --base03:#5af2ee;
    --base04:#bebebe;
    --base05:#bebebe;
    --base06:#eeeeee;
    --base07:#eeeeee;
    --base08:#f25a5a;
    --base09:#efc334;
    --base0A:#5555dd;
    --base0B:#77bb33;
    --base0C:#5af2ee;
    --base0D:#5555dd;
    --base0E:#c350ff;
    --base0F:#bebebe;
}