/* Base2tone Drawbridge Dark by atelierbram(https://github.com/atelierbram/Base2Tone-nvim) */
:root {
    --base00:#1b1f32;
    --base01:#252a41;
    --base02:#444b6f;
    --base03:#5e6587;
    --base04:#627af4;
    --base05:#cbd4d7;
    --base06:#e1e8ea;
    --base07:#f9fbfb;
    --base08:#7289fd;
    --base09:#99e9ff;
    --base0A:#c3cdfe;
    --base0B:#67c9e4;
    --base0C:#7289fd;
    --base0D:#c3cdfe;
    --base0E:#99e9ff;
    --base0F:#289dbd;
}