/* Erebus by  */
:root {
    --base00:#000000;
    --base01:#757575;
    --base02:#b8b8b8;
    --base03:#dea3e5;
    --base04:#b8b8b8;
    --base05:#ffffff;
    --base06:#757575;
    --base07:#757575;
    --base08:#ff5f5f;
    --base09:#d78787;
    --base0A:#af5fd7;
    --base0B:#de8a36;
    --base0C:#dea3e5;
    --base0D:#af5fd7;
    --base0E:#ff87d7;
    --base0F:#b8b8b8;
}