/* hund by hund */
:root {
    --base00:#161616;
    --base01:#222222;
    --base02:#666666;
    --base03:#6D878D;
    --base04:#DDDDDD;
    --base05:#FFFFFF;
    --base06:#CCCCCC;
    --base07:#CCCCCC;
    --base08:#E84F4F;
    --base09:#FEA63C;
    --base0A:#66AABB;
    --base0B:#B7CE42;
    --base0C:#6D878D;
    --base0D:#66AABB;
    --base0E:#B7416E;
    --base0F:#DDDDDD;
}