/* Rasi by  */
:root {
    --base00:#000000;
    --base01:#1b1d1e;
    --base02:#505354;
    --base03:#465457;
    --base04:#ccccc6;
    --base05:#ffffff;
    --base06:#f8f8f2;
    --base07:#f8f8f2;
    --base08:#f92672;
    --base09:#fd971f;
    --base0A:#4e82aa;
    --base0B:#82b414;
    --base0C:#465457;
    --base0D:#4e82aa;
    --base0E:#8c54fe;
    --base0F:#ccccc6;
}