/* Base2tone Garden Light by atelierbram(https://github.com/atelierbram/Base2Tone-nvim) */
:root {
    --base00:#fbfaf8;
    --base01:#ece5df;
    --base02:#dbd0c7;
    --base03:#c7bcb2;
    --base04:#3fac39;
    --base05:#505350;
    --base06:#2b2c2a;
    --base07:#1e1f1e;
    --base08:#1c8217;
    --base09:#dd843c;
    --base0A:#3fac39;
    --base0B:#bd5d0f;
    --base0C:#90d98c;
    --base0D:#1c8217;
    --base0E:#bd5d0f;
    --base0F:#d9af8c;
}