/* Ivory Light by Baskerville */
:root {
    --base00:#fef9ec;
    --base01:#c5c1b4;
    --base02:#a1a6b2;
    --base03:#007693;
    --base04:#3e424d;
    --base05:#6d727e;
    --base06:#282c36;
    --base07:#282c36;
    --base08:#b22b31;
    --base09:#715f00;
    --base0A:#0065ca;
    --base0B:#007427;
    --base0C:#007693;
    --base0D:#0065ca;
    --base0E:#a03196;
    --base0F:#282c36;
}