/* Base2tone Motel Light by atelierbram(https://github.com/atelierbram/Base2Tone-nvim) */
:root {
    --base00:#fbf9f9;
    --base01:#ede5e3;
    --base02:#dcd2d0;
    --base03:#cac0be;
    --base04:#956f76;
    --base05:#5a5354;
    --base06:#373434;
    --base07:#242323;
    --base08:#674c50;
    --base09:#f77c64;
    --base0A:#956f76;
    --base0B:#e24f32;
    --base0C:#ccb3b7;
    --base0D:#674c50;
    --base0E:#e24f32;
    --base0F:#ffb3a3;
}