/* Material by  */
:root {
    --base00:#263238;
    --base01:#263238;
    --base02:#37474f;
    --base03:#009688;
    --base04:#cfd8dc;
    --base05:#eceff1;
    --base06:#eceff1;
    --base07:#eceff1;
    --base08:#ff9800;
    --base09:#ffc107;
    --base0A:#03a9f4;
    --base0B:#8bc34a;
    --base0C:#009688;
    --base0D:#03a9f4;
    --base0E:#e91e63;
    --base0F:#cfd8dc;
}