/* VisiBlue by  */
:root {
    --base00:#000000;
    --base01:#333366;
    --base02:#333399;
    --base03:#66cccc;
    --base04:#99cccc;
    --base05:#666699;
    --base06:#ccffff;
    --base07:#ccffff;
    --base08:#9999ff;
    --base09:#6699ff;
    --base0A:#0099cc;
    --base0B:#00ccff;
    --base0C:#66cccc;
    --base0D:#0099cc;
    --base0E:#0099ff;
    --base0F:#ccffff;
}