/* Cloud by  */
:root {
    --base00:#000000;
    --base01:#222827;
    --base02:#5d6f74;
    --base03:#849da2;
    --base04:#e6ebe5;
    --base05:#ffffff;
    --base06:#d9d6cf;
    --base07:#d9d6cf;
    --base08:#cd749c;
    --base09:#c0c0dd;
    --base0A:#5786bc;
    --base0B:#63b0b0;
    --base0C:#849da2;
    --base0D:#5786bc;
    --base0E:#3f3442;
    --base0F:#d9d6cf;
}