/* Bitmute by  */
:root {
    --base00:#000000;
    --base01:#282828;
    --base02:#494949;
    --base03:#688891;
    --base04:#8e8e8e;
    --base05:#ffffff;
    --base06:#aeaeae;
    --base07:#aeaeae;
    --base08:#b76969;
    --base09:#909858;
    --base0A:#68668f;
    --base0B:#719d72;
    --base0C:#688891;
    --base0D:#68668f;
    --base0E:#966894;
    --base0F:#8e8e8e;
}