/* Dawn by Escapist */
:root {
    --base00:#181B20;
    --base01:#353535;
    --base02:#5F5F5F;
    --base03:#525F66;
    --base04:#B3B3B3;
    --base05:#9B9081;
    --base06:#CDCDCD;
    --base07:#CDCDCD;
    --base08:#785850;
    --base09:#776049;
    --base0A:#696057;
    --base0B:#6F6749;
    --base0C:#525F66;
    --base0D:#696057;
    --base0E:#6F5A59;
    --base0F:#CDCDCD;
}