/* Mikuconsole Dark by fengT-T(https://github.com/fengT-T/Mikuconsole) */

:root {
    --base00: #ffffff;
    --base01: #dbe1e1;
    --base02: #c2cccc;
    --base03: #a8b4b3;
    --base04: #6f7e7d;
    --base05: #818181;
    --base06: #364241;
    --base07: #1b2221;
  --base08: #f3670a;
  --base09: #29a8b6;
  --base0A: #d9a01b;
  --base0B: #0bc1c1;
  --base0C: #25da86;
  --base0D: #208fcf;
  --base0E: #29a8b6;
  --base0F: #614a73;
}
