/* hund by hund */

:root {
  --base00: #161616;
  --base01: #222222;
  --base02: #666666;
  --base03: #666666;
  --base04: #cccccc;
  --base05: #ffffff;
  --base06: #dddddd;
  --base07: #dddddd;
  --base08: #e84f4f;
  --base09: #fea63c;
  --base0A: #ffe863;
  --base0B: #b7ce42;
  --base0C: #aaccbb;
  --base0D: #66aabb;
  --base0E: #6d878d;
  --base0F: #b7416e;
}
