/* Teva by dkeg */
:root {
    --base00:#170f0d;
    --base01:#191f31;
    --base02:#706d56;
    --base03:#5d5d35;
    --base04:#66695d;
    --base05:#746c48;
    --base06:#c6a13f;
    --base07:#c6a13f;
    --base08:#282e39;
    --base09:#3b444a;
    --base0A:#3c4435;
    --base0B:#303844;
    --base0C:#5d5d35;
    --base0D:#3c4435;
    --base0E:#4e534f;
    --base0F:#66695d;
}