/* Base2tone Lake Light by atelierbram(https://github.com/atelierbram/Base2Tone-nvim) */
:root {
    --base00:#fafaf9;
    --base01:#e8e7e3;
    --base02:#d5d4cd;
    --base03:#c2c1b7;
    --base04:#3e91ac;
    --base05:#335966;
    --base06:#223c44;
    --base07:#192d34;
    --base08:#2f7289;
    --base09:#c4b031;
    --base0A:#3e91ac;
    --base0B:#84740b;
    --base0C:#7dc2d9;
    --base0D:#2f7289;
    --base0E:#84740b;
    --base0F:#e9d763;
}