/* Digerati by  */
:root {
    --base00:#000000;
    --base01:#303030;
    --base02:#5f5f5f;
    --base03:#4bb5c1;
    --base04:#e2e2e5;
    --base05:#ffffff;
    --base06:#e2e2e5;
    --base07:#e2e2e5;
    --base08:#ff3a78;
    --base09:#b5c865;
    --base0A:#4a7781;
    --base0B:#a6cd07;
    --base0C:#4bb5c1;
    --base0D:#4a7781;
    --base0E:#ff3b77;
    --base0F:#e2e2e5;
}