/* Catch Me If You Can by dkeg */
:root {
    --base00:#170f0d;
    --base01:#130f0c;
    --base02:#c69f77;
    --base03:#c4bfbf;
    --base04:#c4ae99;
    --base05:#f9f9f9;
    --base06:#f6f2f0;
    --base07:#f6f2f0;
    --base08:#604c38;
    --base09:#907256;
    --base0A:#aa8d70;
    --base0B:#8d7f85;
    --base0C:#c4bfbf;
    --base0D:#aa8d70;
    --base0E:#b9a38d;
    --base0F:#c4ae99;
}