/* candid by flrnd(https://github.com/flrnd/candid.vim) */

:root {
  --base00: #2f343f;
  --base01: #1c1c1c;
  --base02: #2f343f;
  --base03: #4c8273;
  --base04: #818e8e;
  --base05: #efeeea;
  --base06: #efeeea;
  --base07: #efeeea;
  --base08: #fb7da7;
  --base09: #50c6d8;
  --base0A: #2cda9d;
  --base0B: #ffcd5b;
  --base0C: #50c6d8;
  --base0D: #a18bd3;
  --base0E: #fb7da7;
  --base0F: #818e8e;
}
