/* Base2tone Meadow Dark by atelierbram(https://github.com/atelierbram/Base2Tone-nvim) */
:root {
    --base00:#192834;
    --base01:#223644;
    --base02:#335166;
    --base03:#466b86;
    --base04:#277fbe;
    --base05:#d1d6cd;
    --base06:#e6e8e3;
    --base07:#fafbf9;
    --base08:#4299d7;
    --base09:#a6f655;
    --base0A:#afddfe;
    --base0B:#80bf40;
    --base0C:#4299d7;
    --base0D:#afddfe;
    --base0E:#a6f655;
    --base0F:#4d8217;
}