/* Jason Wryan by  */
:root {
    --base00:#000000;
    --base01:#222222;
    --base02:#454545;
    --base03:#7c9aa6;
    --base04:#909090;
    --base05:#ffffff;
    --base06:#ffffff;
    --base07:#ffffff;
    --base08:#9e5641;
    --base09:#caaf2b;
    --base0A:#4c8ea1;
    --base0B:#6c7e55;
    --base0C:#7c9aa6;
    --base0D:#4c8ea1;
    --base0E:#956d9d;
    --base0F:#909090;
}