/* Belge by  */
:root {
    --base00:#000000;
    --base01:#252525;
    --base02:#454545;
    --base03:#b0c4de;
    --base04:#dbdcdc;
    --base05:#ffffff;
    --base06:#fdfdfd;
    --base07:#fdfdfd;
    --base08:#ef6769;
    --base09:#fd971f;
    --base0A:#6495ed;
    --base0B:#a6e22e;
    --base0C:#b0c4de;
    --base0D:#6495ed;
    --base0E:#deb887;
    --base0F:#dbdcdc;
}