/* HardHacker by HardHackerLabs(https://github.com/hardhackerlabs/) */

:root {
  --base00: #282433;
  --base01: #211e2a;
  --base02: #3f3951;
  --base03: #938aad;
  --base04: #938aad;
  --base05: #eee9fc;
  --base06: #eee9fc;
  --base07: #e4dee9;
  --base08: #e192ef;
  --base09: #ebde76;
  --base0A: #b3f4f3;
  --base0B: #b1f2a7;
  --base0C: #ebde76;
  --base0D: #b1baf4;
  --base0E: #e965a5;
  --base0F: #938aad;
}