/* Count Von Count by Baskerville */
:root {
    --base00:#000000;
    --base01:#303030;
    --base02:#5e5e5e;
    --base03:#ffaaa0;
    --base04:#c6c6c6;
    --base05:#919191;
    --base06:#ffffff;
    --base07:#ffffff;
    --base08:#ff8781;
    --base09:#ff948b;
    --base0A:#feb2aa;
    --base0B:#ffa095;
    --base0C:#ffaaa0;
    --base0D:#feb2aa;
    --base0E:#ebbbb5;
    --base0F:#ffffff;
}