/* Sacred Forest Terminal by Karolis KonceviÄius(https://github.com/karoliskoncevicius/sacredforest-vim) */
:root {
    --base00:#3c4c55;
    --base01:#4c5866;
    --base02:#616c72;
    --base03:#616c72;
    --base04:#b2a488;
    --base05:#e0d7c3;
    --base06:#c5d4dd;
    --base07:#e0d7c3;
    --base08:#db6c6c;
    --base09:#ffbf00;
    --base0A:#ddd668;
    --base0B:#94b380;
    --base0C:#7fc1ca;
    --base0D:#3ba2cc;
    --base0E:#ae8fc1;
    --base0F:#b2a488;
}
