/* Cloud by  */
:root {
    --base00:#000000;
    --base01:#222827;
    --base02:#5d6f74;
    --base03:#a9d1df;
    --base04:#e6ebe5;
    --base05:#ffffff;
    --base06:#d9d6cf;
    --base07:#d9d6cf;
    --base08:#d5a8e3;
    --base09:#9898ae;
    --base0A:#654a96;
    --base0B:#9c75dd;
    --base0C:#a9d1df;
    --base0D:#654a96;
    --base0E:#625566;
    --base0F:#e6ebe5;
}