/* Sacred Forest by Karolis KonceviÄius(https://github.com/karoliskoncevicius/sacredforest-vim) */
:root {
    --base00:#3c4c55;
    --base01:#4c5866;
    --base02:#616c72;
    --base03:#616c72;
    --base04:#b2a488;
    --base05:#e0d7c3;
    --base06:#c5d4dd;
    --base07:#e0d7c3;
    --base08:#db6c6c;
    --base09:#8eaf6b;
    --base0A:#3ba2cc;
    --base0B:#94b380;
    --base0C:#907eb5;
    --base0D:#7fc1ca;
    --base0E:#ffbf00;
    --base0F:#b2a488;
}
