/* Pretty and Pastel by IWAFU */
:root {
    --base00:#151515;
    --base01:#292929;
    --base02:#525252;
    --base03:#80BFAF;
    --base04:#888888;
    --base05:#888888;
    --base06:#E8E8D3;
    --base07:#E8E8D3;
    --base08:#FF9D80;
    --base09:#FFEFBF;
    --base0A:#ACCAFF;
    --base0B:#23FD00;
    --base0C:#80BFAF;
    --base0D:#ACCAFF;
    --base0E:#C4C4FF;
    --base0F:#E8E8D3;
}