/* Vacuous 2 by hal */
:root {
    --base00:#101010;
    --base01:#202020;
    --base02:#606060;
    --base03:#0b3452;
    --base04:#909090;
    --base05:#d2c5bc;
    --base06:#fff0f0;
    --base07:#fff0f0;
    --base08:#b91e2e;
    --base09:#f9bb80;
    --base0A:#356579;
    --base0B:#81957c;
    --base0C:#0b3452;
    --base0D:#356579;
    --base0E:#2d2031;
    --base0F:#909090;
}