/* Base2tone Mall Dark by atelierbram(https://github.com/atelierbram/Base2Tone-nvim) */
:root {
    --base00:#1e1e1f;
    --base01:#2b2b2c;
    --base02:#515053;
    --base03:#6a686e;
    --base04:#a17efc;
    --base05:#c8d2da;
    --base06:#dee6ed;
    --base07:#f8fafc;
    --base08:#b294ff;
    --base09:#b3dbff;
    --base0A:#e5dbff;
    --base0B:#75bfff;
    --base0C:#b294ff;
    --base0D:#e5dbff;
    --base0E:#b3dbff;
    --base0F:#3692e2;
}