/* Base2tone Sea Dark by atelierbram(https://github.com/atelierbram/Base2Tone-nvim) */
:root {
    --base00:#1d262f;
    --base01:#27323f;
    --base02:#405368;
    --base03:#738191;
    --base04:#34659d;
    --base05:#cbd7d3;
    --base06:#e1eae7;
    --base07:#f9fbfa;
    --base08:#57718e;
    --base09:#47ebb4;
    --base0A:#afd4fe;
    --base0B:#0fc78a;
    --base0C:#57718e;
    --base0D:#afd4fe;
    --base0E:#47ebb4;
    --base0F:#067953;
}