/* Deafened by  */
:root {
    --base00:#000000;
    --base01:#3d3e3d;
    --base02:#5a5b5c;
    --base03:#465457;
    --base04:#ccccc6;
    --base05:#ffffff;
    --base06:#f8f8f2;
    --base07:#f8f8f2;
    --base08:#755a5b;
    --base09:#756e5a;
    --base0A:#5b6976;
    --base0B:#68755a;
    --base0C:#465457;
    --base0D:#5b6976;
    --base0E:#755b76;
    --base0F:#ccccc6;
}