/* Dawn by Escapist */
:root {
    --base00:#181B20;
    --base01:#353535;
    --base02:#5F5F5F;
    --base03:#435861;
    --base04:#B3B3B3;
    --base05:#9B9081;
    --base06:#CDCDCD;
    --base07:#CDCDCD;
    --base08:#744B40;
    --base09:#765636;
    --base0A:#61564B;
    --base0B:#6D6137;
    --base0C:#435861;
    --base0D:#61564B;
    --base0E:#6B4A49;
    --base0F:#B3B3B3;
}