/* Base2tone Pool Dark by atelierbram(https://github.com/atelierbram/Base2Tone-nvim) */
:root {
    --base00:#2a2433;
    --base01:#372f42;
    --base02:#574b68;
    --base03:#706383;
    --base04:#aa75f5;
    --base05:#d7cccb;
    --base06:#eae1e1;
    --base07:#fbf9f9;
    --base08:#b886fd;
    --base09:#ffb6b3;
    --base0A:#e4d2fe;
    --base0B:#f87972;
    --base0C:#b886fd;
    --base0D:#e4d2fe;
    --base0E:#ffb6b3;
    --base0F:#cf504a;
}