/* snowtrek by machakann (https://github.com/machakann/vim-colorscheme-snowtrek) */

:root{
  --base00: #fbfbfc;
  --base01: #e9dfd7;
  --base02: #d5ebeb;
  --base03: #814d25;
  --base04: #3b3341;
  --base05: #3b3341;
  --base06: #3b3341;
  --base07: #e2e5f9;
  --base08: #89ac08;
  --base09: #879da9;
  --base0A: #2053b4;
  --base0B: #879da9;
  --base0C: #54acd0;
  --base0D: #008700;
  --base0E: #c29a16;
  --base0F: #e38017;}
