/* VisiBone by  */
:root {
    --base00:#000000;
    --base01:#666666;
    --base02:#999999;
    --base03:#66cccc;
    --base04:#cccccc;
    --base05:#ffffff;
    --base06:#ffffff;
    --base07:#ffffff;
    --base08:#cc6666;
    --base09:#cc9966;
    --base0A:#6699cc;
    --base0B:#66cc99;
    --base0C:#66cccc;
    --base0D:#6699cc;
    --base0E:#cc6699;
    --base0F:#cccccc;
}