/* Mikazuki by  */
:root {
    --base00:#000000;
    --base01:#2a1d17;
    --base02:#4f362b;
    --base03:#8c16da;
    --base04:#e9e9e9;
    --base05:#ffffff;
    --base06:#fdfdfd;
    --base07:#fdfdfd;
    --base08:#da1657;
    --base09:#e3d33d;
    --base0A:#3ea290;
    --base0B:#3ea250;
    --base0C:#8c16da;
    --base0D:#3ea290;
    --base0E:#ff850d;
    --base0F:#e9e9e9;
}