/* Color Star by dkeg */
:root {
    --base00:#000000;
    --base01:#03010f;
    --base02:#ab9e9e;
    --base03:#f4e199;
    --base04:#9a600f;
    --base05:#d3d3d3;
    --base06:#f6f4df;
    --base07:#f6f4df;
    --base08:#b28930;
    --base09:#c37305;
    --base0A:#d0ae58;
    --base0B:#bbada9;
    --base0C:#f4e199;
    --base0D:#d0ae58;
    --base0E:#d7b559;
    --base0F:#f6f4df;
}