/* Mikuconsole Faint Dark by fengT-T(https://github.com/fengT-T/Mikuconsole) */

:root {
  --base00: #1b2221;
  --base01: #364241;
  --base02: #526160;
  --base03: #6f7e7d;
  --base04: #a8b4b3;
  --base05: #c2cccc;
  --base06: #dbe1e1;
  --base07: #f1f3f3;
  --base08: #0bcfcf;/* 2 */
  --base09: #1b6693;/* 4 */
  --base0A: #25d28a;/* 7 */
  --base0B: #d9a01b;/* 3 */
  --base0C: #783228;/* 1 */
  --base0D: #29b0b6;/* 6 */
  --base0E: #614eb5;/* 5 */
  --base0F: #a8a9aa;/* 0 */
}
