/* Base2tone Forest Dark by atelierbram(https://github.com/atelierbram/Base2Tone-nvim) */
:root {
    --base00:#2a2d2a;
    --base01:#353b35;
    --base02:#485148;
    --base03:#5e6e5e;
    --base04:#5c705c;
    --base05:#d7dac8;
    --base06:#eaecdf;
    --base07:#fbfbf8;
    --base08:#687d68;
    --base09:#e5fb79;
    --base0A:#c8e4c8;
    --base0B:#bfd454;
    --base0C:#687d68;
    --base0D:#c8e4c8;
    --base0E:#e5fb79;
    --base0F:#656b47;
}