/* X::Erosion by earsplit */
:root {
    --base00:#181512;
    --base01:#332D29;
    --base02:#817267;
    --base03:#4B5C5E;
    --base04:#504339;
    --base05:#BEA492;
    --base06:#9A875F;
    --base07:#9A875F;
    --base08:#8C644C;
    --base09:#908A66;
    --base0A:#646A6D;
    --base0B:#746C48;
    --base0C:#4B5C5E;
    --base0D:#646A6D;
    --base0E:#605655;
    --base0F:#504339;
}