/* Kasugano by Kori Ayakashi */
:root {
    --base00:#1b1b1b;
    --base01:#3D3D3D;
    --base02:#4D4D4D;
    --base03:#95A7CC;
    --base04:#C8CACC;
    --base05:#ffffff;
    --base06:#EDEFF2;
    --base07:#EDEFF2;
    --base08:#899AFF;
    --base09:#98C9BB;
    --base0A:#477AB3;
    --base0B:#52AD91;
    --base0C:#95A7CC;
    --base0D:#477AB3;
    --base0E:#7882BF;
    --base0F:#EDEFF2;
}