/* Pretty and Pastel by IWAFU */
:root {
    --base00:#151515;
    --base01:#292929;
    --base02:#525252;
    --base03:#668799;
    --base04:#888888;
    --base05:#888888;
    --base06:#E8E8D3;
    --base07:#E8E8D3;
    --base08:#CF6A4C;
    --base09:#FAD07A;
    --base0A:#8197BF;
    --base0B:#19CB00;
    --base0C:#668799;
    --base0D:#8197BF;
    --base0E:#8787AF;
    --base0F:#888888;
}