/* Nature Suede by Gslob */
:root {
    --base00:#170f0d;
    --base01:#392925;
    --base02:#544b2e;
    --base03:#778725;
    --base04:#c8b55b;
    --base05:#746c48;
    --base06:#e4dc8c;
    --base07:#e4dc8c;
    --base08:#af652f;
    --base09:#c8b55b;
    --base0A:#70a16c;
    --base0B:#c3c13d;
    --base0C:#778725;
    --base0D:#70a16c;
    --base0E:#98724c;
    --base0F:#e4dc8c;
}