/* Mono Theme by  */
:root {
    --base00:#000000;
    --base01:#000000;
    --base02:#202020;
    --base03:#8a8a8a;
    --base04:#b5cabb;
    --base05:#ffffff;
    --base06:#99ac9e;
    --base07:#99ac9e;
    --base08:#6b6b6b;
    --base09:#b3b3b3;
    --base0A:#999999;
    --base0B:#c4c4c4;
    --base0C:#8a8a8a;
    --base0D:#999999;
    --base0E:#717171;
    --base0F:#b5cabb;
}