/* Embark by embark-theme (https://embark-theme.github.io/) */

:root {
  --base00: #100E23;
  --base01: #1E1C31;
  --base02: #2D2B40;
  --base03: #3E3859;
  --base04: #585273;
  --base05: #8A889D;
  --base06: #CBE3E7;
  --base07: #ABF8F7;
  --base08: #F02E6E;
  --base09: #F2B482;
  --base0A: #FFE6B3;
  --base0B: #7FE9C3;
  --base0C: #63F2F1;
  --base0D: #78A8FF;
  --base0E: #7676FF;
  --base0F: #D4BFFF;
}
