/* Base2tone Heath Dark by atelierbram(https://github.com/atelierbram/Base2Tone-nvim) */
:root {
    --base00:#222022;
    --base01:#2f2d2f;
    --base02:#575158;
    --base03:#6f6b70;
    --base04:#8f6c93;
    --base05:#d6d2cc;
    --base06:#eae6e1;
    --base07:#fbfaf9;
    --base08:#9a819c;
    --base09:#ffd599;
    --base0A:#eaa8f0;
    --base0B:#cc8c33;
    --base0C:#9a819c;
    --base0D:#eaa8f0;
    --base0E:#ffd599;
    --base0F:#995900;
}