/* jmbi by jmbi */
:root {
    --base00:#1e1e1e;
    --base01:#5A7260;
    --base02:#8DA691;
    --base03:#D13516;
    --base04:#EFE2E0;
    --base05:#ffffff;
    --base06:#F9F1ED;
    --base07:#F9F1ED;
    --base08:#8F423C;
    --base09:#F9D25B;
    --base0A:#E0BA69;
    --base0B:#BBBB88;
    --base0C:#D13516;
    --base0D:#E0BA69;
    --base0E:#709289;
    --base0F:#EFE2E0;
}