/* Fishbone by  */
:root {
    --base00:#000000;
    --base01:#293b3b;
    --base02:#344040;
    --base03:#714da5;
    --base04:#876868;
    --base05:#ffffff;
    --base06:#876f6f;
    --base07:#876f6f;
    --base08:#bf5357;
    --base09:#aea64f;
    --base0A:#416ea5;
    --base0B:#41a551;
    --base0C:#714da5;
    --base0D:#416ea5;
    --base0E:#bf6053;
    --base0F:#876868;
}