/* Neon by  */
:root {
    --base00:#171717;
    --base01:#171717;
    --base02:#38252c;
    --base03:#0a9b81;
    --base04:#ebebeb;
    --base05:#f8f8f8;
    --base06:#f8f8f8;
    --base07:#f8f8f8;
    --base08:#ff0000;
    --base09:#e1a126;
    --base0A:#289cd5;
    --base0B:#76b639;
    --base0C:#0a9b81;
    --base0D:#289cd5;
    --base0E:#ff2491;
    --base0F:#f8f8f8;
}