/* Canvased Pastel by dkeg */
:root {
    --base00:#170f0d;
    --base01:#26251c;
    --base02:#999f91;
    --base03:#7b8574;
    --base04:#837b61;
    --base05:#746c48;
    --base06:#d6d3ac;
    --base07:#d6d3ac;
    --base08:#323027;
    --base09:#443b2c;
    --base0A:#534d35;
    --base0B:#3d4339;
    --base0C:#7b8574;
    --base0D:#534d35;
    --base0E:#646756;
    --base0F:#837b61;
}