/* Numix Darkest by  */
:root {
    --base00:#282828;
    --base01:#555555;
    --base02:#888888;
    --base03:#37c3d6;
    --base04:#a2a2a2;
    --base05:#a2a2a2;
    --base06:#f9f9f9;
    --base07:#f9f9f9;
    --base08:#d64937;
    --base09:#fdd75a;
    --base0A:#0f75bd;
    --base0B:#86df5d;
    --base0C:#37c3d6;
    --base0D:#0f75bd;
    --base0E:#9e5e83;
    --base0F:#f9f9f9;
}