/* Invisibone by Baskerville */
:root {
    --base00:#232323;
    --base01:#303030;
    --base02:#686868;
    --base03:#3BA275;
    --base04:#CFCFCF;
    --base05:#A0A0A0;
    --base06:#FFFFFF;
    --base07:#FFFFFF;
    --base08:#D370A3;
    --base09:#B58858;
    --base0A:#6095C5;
    --base0B:#6D9E3F;
    --base0C:#3BA275;
    --base0D:#6095C5;
    --base0E:#AC7BDE;
    --base0F:#CFCFCF;
}