/* Belge by  */
:root {
    --base00:#000000;
    --base01:#252525;
    --base02:#454545;
    --base03:#87ceeb;
    --base04:#dbdcdc;
    --base05:#ffffff;
    --base06:#fdfdfd;
    --base07:#fdfdfd;
    --base08:#fc7ca5;
    --base09:#fd971f;
    --base0A:#87ceeb;
    --base0B:#b6e354;
    --base0C:#87ceeb;
    --base0D:#87ceeb;
    --base0E:#996600;
    --base0F:#fdfdfd;
}