/* Light White by Gutterslob */
:root {
    --base00:#000000;
    --base01:#808080;
    --base02:#9c9c9c;
    --base03:#82adad;
    --base04:#bfbfbf;
    --base05:#ffffff;
    --base06:#9c9c9c;
    --base07:#9c9c9c;
    --base08:#c48980;
    --base09:#b29b7a;
    --base0A:#809bc4;
    --base0B:#8da862;
    --base0C:#82adad;
    --base0D:#809bc4;
    --base0E:#aa88b2;
    --base0F:#bfbfbf;
}