/* Dark Ocean by DOOMICIDE */
:root {
    --base00:#000000;
    --base01:#000000;
    --base02:#38372c;
    --base03:#667d77;
    --base04:#999999;
    --base05:#ffffff;
    --base06:#ffffff;
    --base07:#ffffff;
    --base08:#7c54b0;
    --base09:#9c6f59;
    --base0A:#323f5c;
    --base0B:#a2e655;
    --base0C:#667d77;
    --base0D:#323f5c;
    --base0E:#5e6c99;
    --base0F:#ffffff;
}