/* Yousai by Kori */
:root {
    --base00:#F5E7DE;
    --base01:#666661;
    --base02:#7F7F7A;
    --base03:#D97742;
    --base04:#34302D;
    --base05:#34302D;
    --base06:#4C4742;
    --base07:#4C4742;
    --base08:#992E2E;
    --base09:#A67C53;
    --base0A:#4C7399;
    --base0B:#4C3226;
    --base0C:#D97742;
    --base0D:#4C7399;
    --base0E:#BF9986;
    --base0F:#34302D;
}