/* Panels by dkeg */
:root {
    --base00:#000000;
    --base01:#191927;
    --base02:#905749;
    --base03:#6b484c;
    --base04:#744537;
    --base05:#d3d3d3;
    --base06:#fca806;
    --base07:#fca806;
    --base08:#282f5e;
    --base09:#344276;
    --base0A:#4e3a4f;
    --base0B:#2b4593;
    --base0C:#6b484c;
    --base0D:#4e3a4f;
    --base0E:#61372f;
    --base0F:#744537;
}