/* Erebus by  */
:root {
    --base00:#000000;
    --base01:#757575;
    --base02:#b8b8b8;
    --base03:#af5fd7;
    --base04:#b8b8b8;
    --base05:#ffffff;
    --base06:#757575;
    --base07:#757575;
    --base08:#d78787;
    --base09:#ff5f5f;
    --base0A:#dea3e5;
    --base0B:#ff9f6f;
    --base0C:#af5fd7;
    --base0D:#dea3e5;
    --base0E:#d7afaf;
    --base0F:#757575;
}