/* Digerati by  */
:root {
    --base00:#000000;
    --base01:#303030;
    --base02:#5f5f5f;
    --base03:#4bb5c1;
    --base04:#e2e2e5;
    --base05:#ffffff;
    --base06:#e2e2e5;
    --base07:#e2e2e5;
    --base08:#c03000;
    --base09:#fecf35;
    --base0A:#426870;
    --base0B:#b1d631;
    --base0C:#4bb5c1;
    --base0D:#426870;
    --base0E:#6d506d;
    --base0F:#e2e2e5;
}