/* Colorful Colors by  */
:root {
    --base00:#000000;
    --base01:#151515;
    --base02:#696969;
    --base03:#5f868f;
    --base04:#d5f1f2;
    --base05:#ffffff;
    --base06:#e2f1f6;
    --base07:#e2f1f6;
    --base08:#ff8eaf;
    --base09:#f8e578;
    --base0A:#a6e2f0;
    --base0B:#a6e25f;
    --base0C:#5f868f;
    --base0D:#a6e2f0;
    --base0E:#e85b92;
    --base0F:#d5f1f2;
}