/* Trim Yer Beard by franksn */
:root {
    --base00:#191716;
    --base01:#0F0E0D;
    --base02:#383332;
    --base03:#5C6652;
    --base04:#A18B62;
    --base05:#DABA8B;
    --base06:#BC9D66;
    --base07:#BC9D66;
    --base08:#845336;
    --base09:#A17E3E;
    --base0A:#43454F;
    --base0B:#57553C;
    --base0C:#5C6652;
    --base0D:#43454F;
    --base0E:#604848;
    --base0F:#A18B62;
}