/* Nudge by  */
:root {
    --base00:#000000;
    --base01:#658280;
    --base02:#8ca8a6;
    --base03:#175552;
    --base04:#110005;
    --base05:#ffffff;
    --base06:#330801;
    --base07:#330801;
    --base08:#822f5d;
    --base09:#9d4500;
    --base0A:#304465;
    --base0B:#184a31;
    --base0C:#175552;
    --base0D:#304465;
    --base0E:#330801;
    --base0F:#110005;
}