/* jmbi by jmbi */
:root {
    --base00:#1e1e1e;
    --base01:#5A7260;
    --base02:#8DA691;
    --base03:#C25431;
    --base04:#EFE2E0;
    --base05:#ffffff;
    --base06:#F9F1ED;
    --base07:#F9F1ED;
    --base08:#EEAA88;
    --base09:#EEDD99;
    --base0A:#C9B957;
    --base0B:#CCC68D;
    --base0C:#C25431;
    --base0D:#C9B957;
    --base0E:#FFCBAB;
    --base0F:#F9F1ED;
}