/* Eqie6 by  */
:root {
    --base00:#111111;
    --base01:#222222;
    --base02:#666666;
    --base03:#6d878d;
    --base04:#cccccc;
    --base05:#cccccc;
    --base06:#ffffff;
    --base07:#ffffff;
    --base08:#e84f4f;
    --base09:#fea63c;
    --base0A:#66a9b9;
    --base0B:#b7ce42;
    --base0C:#6d878d;
    --base0D:#66a9b9;
    --base0E:#b7416e;
    --base0F:#cccccc;
}