/* zenburn by  */
:root {
    --base00:#000000;
    --base01:#1e2320;
    --base02:#709080;
    --base03:#93e0e3;
    --base04:#dcdccc;
    --base05:#ffffff;
    --base06:#ffffff;
    --base07:#ffffff;
    --base08:#dca3a3;
    --base09:#f0dfaf;
    --base0A:#94bff3;
    --base0B:#c3bf9f;
    --base0C:#93e0e3;
    --base0D:#94bff3;
    --base0E:#ec93d3;
    --base0F:#ffffff;
}