/* Base2tone Motel Dark by atelierbram(https://github.com/atelierbram/Base2Tone-nvim) */
:root {
    --base00:#242323;
    --base01:#373434;
    --base02:#5a5354;
    --base03:#86797b;
    --base04:#956f76;
    --base05:#dcd2d0;
    --base06:#ede5e3;
    --base07:#fbf9f9;
    --base08:#a7868b;
    --base09:#ffc8bd;
    --base0A:#dec9cc;
    --base0B:#f8917c;
    --base0C:#a7868b;
    --base0D:#dec9cc;
    --base0E:#ffc8bd;
    --base0F:#e24f32;
}