/* Dotshare by  */
:root {
    --base00:#000000;
    --base01:#101010;
    --base02:#404040;
    --base03:#6d878d;
    --base04:#dddddd;
    --base05:#ffffff;
    --base06:#dddddd;
    --base07:#dddddd;
    --base08:#e84f4f;
    --base09:#e1aa5d;
    --base0A:#7dc1cf;
    --base0B:#b8d68c;
    --base0C:#6d878d;
    --base0D:#7dc1cf;
    --base0E:#9b64fb;
    --base0F:#dddddd;
}