/* Rezza by  */
:root {
    --base00:#222222;
    --base01:#191919;
    --base02:#252525;
    --base03:#a1cdcd;
    --base04:#ffffff;
    --base05:#dddddd;
    --base06:#dddddd;
    --base07:#dddddd;
    --base08:#982b2b;
    --base09:#efef60;
    --base0A:#2b4f98;
    --base0B:#89b83f;
    --base0C:#a1cdcd;
    --base0D:#2b4f98;
    --base0E:#826ab1;
    --base0F:#dddddd;
}