/* Swayr by  */
:root {
    --base00:#1c1709;
    --base01:#1c1709;
    --base02:#4f4939;
    --base03:#43bfe0;
    --base04:#c2b9a1;
    --base05:#c2b9a1;
    --base06:#f2e8c9;
    --base07:#f2e8c9;
    --base08:#f07935;
    --base09:#ffab26;
    --base0A:#8aa9ed;
    --base0B:#d9d138;
    --base0C:#43bfe0;
    --base0D:#8aa9ed;
    --base0E:#ff8cb8;
    --base0F:#f2e8c9;
}