/* Lumifoo by Gutterslob */
:root {
    --base00:#1e2021;
    --base01:#515151;
    --base02:#707172;
    --base03:#5c9d88;
    --base04:#919191;
    --base05:#888a8c;
    --base06:#d0d0d0;
    --base07:#d0d0d0;
    --base08:#bf6382;
    --base09:#ad8a43;
    --base0A:#6b85c2;
    --base0B:#65a446;
    --base0C:#5c9d88;
    --base0D:#6b85c2;
    --base0E:#9e6bb8;
    --base0F:#919191;
}