/* Mikuconsole Intense Light by fengT-T(https://github.com/fengT-T/Mikuconsole) */

:root {
  --base00: #ffffff;/* B */
  --base01: #dbe1e1;
  --base02: #c2cccc;
  --base03: #00bfb7;/* 6 */
  --base04: #6f7e7d;
  --base05: #717171;/* F */
  --base06: #364241;
  --base07: #1b2221;
  --base08: #04b3ad;/* 2 */
  --base09: #4896d1;/* 4 */
  --base0A: #19e7b1;/* 7 */
  --base0B: #ffca09;/* 3 */
  --base0C: #ff4e00;/* 1 */
  --base0D: #00bfb7;/* 6 */
  --base0E: #d157ff;/* 5 */
  --base0F: #8a8a8a;/* 0 */
}
