/* Fishbone by  */
:root {
    --base00:#000000;
    --base01:#293b3b;
    --base02:#344040;
    --base03:#7859a5;
    --base04:#876868;
    --base05:#ffffff;
    --base06:#876f6f;
    --base07:#876f6f;
    --base08:#bf6367;
    --base09:#aea75d;
    --base0A:#5177a5;
    --base0B:#51a55f;
    --base0C:#7859a5;
    --base0D:#5177a5;
    --base0E:#bf6e63;
    --base0F:#876f6f;
}