/* Base2tone Earth Dark by atelierbram(https://github.com/atelierbram/Base2Tone-nvim) */
:root {
    --base00:#322d29;
    --base01:#3f3a37;
    --base02:#5b534d;
    --base03:#796b63;
    --base04:#816d5f;
    --base05:#cfc9b9;
    --base06:#e2dcd0;
    --base07:#f2efe8;
    --base08:#88786d;
    --base09:#fcc440;
    --base0A:#dfb99f;
    --base0B:#d9b154;
    --base0C:#88786d;
    --base0D:#dfb99f;
    --base0E:#fcc440;
    --base0F:#9c8349;
}