/* Yuyuko by Enonya (hylwxqwq) <black_trees@foxmail.com> (https://github.com/Enonya/yuyuko.vim/) */

:root {
  --base00: #262626;
  --base01: #3a3a3a;
  --base02: #444444;
  --base03: #ff87df;
  --base04: #ffdfdf;
  --base05: #ffffff;
  --base06: #ffdfff;
  --base07: #ffffff;
  --base08: #afafff;
  --base09: #87d7ff;
  --base0A: #afafff;
  --base0B: #af87df;
  --base0C: #dfafff;
  --base0D: #ffdfff;
  --base0E: #afafff;
  --base0F: #ff5fff;
}
