/* Shic by  */
:root {
    --base00:#000000;
    --base01:#494949;
    --base02:#484848;
    --base03:#927c4b;
    --base04:#b1b1b1;
    --base05:#ffffff;
    --base06:#c7c7c7;
    --base07:#c7c7c7;
    --base08:#8f5a58;
    --base09:#c7c575;
    --base0A:#507f7c;
    --base0B:#326f58;
    --base0C:#927c4b;
    --base0D:#507f7c;
    --base0E:#a387a6;
    --base0F:#c7c7c7;
}