/* Unsifted Wheat by dkeg */
:root {
    --base00:#111111;
    --base01:#382c2f;
    --base02:#ac9377;
    --base03:#917781;
    --base04:#9a846d;
    --base05:#d3d3d3;
    --base06:#eed8c4;
    --base07:#eed8c4;
    --base08:#48393a;
    --base09:#79665a;
    --base0A:#836e5e;
    --base0B:#65534d;
    --base0C:#917781;
    --base0D:#836e5e;
    --base0E:#8e7766;
    --base0F:#9a846d;
}