/* Sonokai atlantis by Sainnhe Park (https://github.com/sainnhe/sonokai/) */

:root {
  --base00: #2a2f38;/* bg0 */
  --base01: #333846;/* bg1 */
  --base02: #3d4455;/* bg3 */
  --base03: #424b5b;/* bg4 */
  --base04: #828a9a;/* grey */
  --base05: #e1e3e4;/* fg */
  --base06: #e1e3e4;/* fg */
  --base07: #e1e3e4;/* fg */
  --base08: #ff6578;/* red */
  --base09: #f69c5e;/* orange */
  --base0A: #eacb64;/* yellow */
  --base0B: #9dd274;/* green */
  --base0C: #7ad5f1;/* bg_blue */
  --base0D: #72cce8;/* blue */
  --base0E: #ba9cf3;/* purple */
  --base0F: #5a6477;/* grey_dim */
}
