/* Sweet Love by Boroshlawa */
:root {
    --base00:#1F1F1F;
    --base01:#4A3637;
    --base02:#402E2E;
    --base03:#585C49;
    --base04:#C0B18B;
    --base05:#C0B18B;
    --base06:#978965;
    --base07:#978965;
    --base08:#AC5D2F;
    --base09:#8F6840;
    --base0A:#444B4B;
    --base0B:#647035;
    --base0C:#585C49;
    --base0D:#444B4B;
    --base0E:#614445;
    --base0F:#978965;
}