/* theme2 by  */
:root {
    --base00:#000000;
    --base01:#191919;
    --base02:#484848;
    --base03:#bbcd81;
    --base04:#eaeaea;
    --base05:#ffffff;
    --base06:#bbbbbb;
    --base07:#bbbbbb;
    --base08:#be6262;
    --base09:#e5d95e;
    --base0A:#23aaff;
    --base0B:#4b8a10;
    --base0C:#bbcd81;
    --base0D:#23aaff;
    --base0E:#ab005b;
    --base0F:#bbbbbb;
}