/* Insignificato by  */
:root {
    --base00:#000000;
    --base01:#3d3e3d;
    --base02:#5a5b5c;
    --base03:#5b7674;
    --base04:#808080;
    --base05:#ffffff;
    --base06:#aeafb0;
    --base07:#aeafb0;
    --base08:#755a5b;
    --base09:#756e5a;
    --base0A:#5b6976;
    --base0B:#68755a;
    --base0C:#5b7674;
    --base0D:#5b6976;
    --base0E:#755b76;
    --base0F:#808080;
}