/* Muse by  */
:root {
    --base00:#000000;
    --base01:#2e3436;
    --base02:#555753;
    --base03:#12bccb;
    --base04:#d3d7cf;
    --base05:#ffffff;
    --base06:#eeeeec;
    --base07:#eeeeec;
    --base08:#c60001;
    --base09:#d5a30e;
    --base0A:#4a5a8d;
    --base0B:#27a343;
    --base0C:#12bccb;
    --base0D:#4a5a8d;
    --base0E:#893c8c;
    --base0F:#eeeeec;
}