/* Phrak1 by  */
:root {
    --base00:#000000;
    --base01:#000000;
    --base02:#545054;
    --base03:#50fcf8;
    --base04:#a8a8a8;
    --base05:#a8a8a8;
    --base06:#f8fcf8;
    --base07:#f8fcf8;
    --base08:#f85450;
    --base09:#f8fc50;
    --base0A:#5054f8;
    --base0B:#50fc50;
    --base0C:#50fcf8;
    --base0D:#5054f8;
    --base0E:#f854f8;
    --base0F:#f8fcf8;
}