/* Mono by Muzieca */
:root {
    --base00:#000000;
    --base01:#000000;
    --base02:#090909;
    --base03:#666666;
    --base04:#777777;
    --base05:#ffffff;
    --base06:#818181;
    --base07:#818181;
    --base08:#111111;
    --base09:#333333;
    --base0A:#444444;
    --base0B:#222222;
    --base0C:#666666;
    --base0D:#444444;
    --base0E:#555555;
    --base0F:#777777;
}