/* City Streets by dkeg */
:root {
    --base00:#000000;
    --base01:#201e24;
    --base02:#837c78;
    --base03:#e3ddd2;
    --base04:#837e81;
    --base05:#d3d3d3;
    --base06:#efe8dc;
    --base07:#efe8dc;
    --base08:#89827d;
    --base09:#c2bec1;
    --base0A:#c3bcb2;
    --base0B:#a7a099;
    --base0C:#e3ddd2;
    --base0D:#c3bcb2;
    --base0E:#cbc5ba;
    --base0F:#efe8dc;
}