/* Matrix by OK100 */
:root {
    --base00:#000000;
    --base01:#000000;
    --base02:#000000;
    --base03:#00cc00;
    --base04:#00cc00;
    --base05:#00cc00;
    --base06:#00cc00;
    --base07:#00cc00;
    --base08:#55ff55;
    --base09:#00cc00;
    --base0A:#005500;
    --base0B:#00cc00;
    --base0C:#00cc00;
    --base0D:#005500;
    --base0E:#55ff55;
    --base0F:#00cc00;
}