/* Base2tone Desert Light by atelierbram(https://github.com/atelierbram/Base2Tone-nvim) */
:root {
    --base00:#fbfaf9;
    --base01:#ede7e3;
    --base02:#dcd5d0;
    --base03:#cac3be;
    --base04:#816f4b;
    --base05:#615c51;
    --base06:#3d3a34;
    --base07:#292724;
    --base08:#5c523d;
    --base09:#e58748;
    --base0A:#816f4b;
    --base0B:#bc672f;
    --base0C:#c6ad7b;
    --base0D:#5c523d;
    --base0E:#bc672f;
    --base0F:#f8a872;
}