/* Splurge by  */
:root {
    --base00:#000000;
    --base01:#4a4b4a;
    --base02:#696969;
    --base03:#a0e9f2;
    --base04:#dbdcdc;
    --base05:#ffffff;
    --base06:#fdfdfd;
    --base07:#fdfdfd;
    --base08:#f5a2b5;
    --base09:#f5cda2;
    --base0A:#a2c1f5;
    --base0B:#a3f2a0;
    --base0C:#a0e9f2;
    --base0D:#a2c1f5;
    --base0E:#d2a2f5;
    --base0F:#fdfdfd;
}