/* VisiBlue by  */
:root {
    --base00:#000000;
    --base01:#333366;
    --base02:#333399;
    --base03:#669999;
    --base04:#99cccc;
    --base05:#666699;
    --base06:#ccffff;
    --base07:#ccffff;
    --base08:#6666cc;
    --base09:#3366cc;
    --base0A:#006699;
    --base0B:#0099cc;
    --base0C:#669999;
    --base0D:#006699;
    --base0E:#0066ff;
    --base0F:#99cccc;
}