/* Dotshare by  */
:root {
    --base00:#000000;
    --base01:#101010;
    --base02:#404040;
    --base03:#42717b;
    --base04:#dddddd;
    --base05:#ffffff;
    --base06:#dddddd;
    --base07:#dddddd;
    --base08:#d23d3d;
    --base09:#f39d21;
    --base0A:#4e9fb1;
    --base0B:#a0cf5d;
    --base0C:#42717b;
    --base0D:#4e9fb1;
    --base0E:#8542ff;
    --base0F:#dddddd;
}