/* Eldorado dark by Baskerville */
:root {
    --base00:#292929;
    --base01:#4e4e4e;
    --base02:#777777;
    --base03:#79e0ed;
    --base04:#cfcfcf;
    --base05:#a2a2a2;
    --base06:#ffffff;
    --base07:#ffffff;
    --base08:#ffbbb2;
    --base09:#e0ce91;
    --base0A:#b3d1ff;
    --base0B:#9ddeaf;
    --base0C:#79e0ed;
    --base0D:#b3d1ff;
    --base0E:#fabdf0;
    --base0F:#ffffff;
}