/* Base2tone Drawbridge Light by atelierbram(https://github.com/atelierbram/Base2Tone-nvim) */
:root {
    --base00:#f9fbfb;
    --base01:#e1e8ea;
    --base02:#cbd4d7;
    --base03:#b7c0c2;
    --base04:#627af4;
    --base05:#444b6f;
    --base06:#252a41;
    --base07:#1b1f32;
    --base08:#4961da;
    --base09:#5cbcd6;
    --base0A:#627af4;
    --base0B:#289dbd;
    --base0C:#a5b3fe;
    --base0D:#4961da;
    --base0E:#289dbd;
    --base0F:#86e0f9;
}