/* Swayr by  */
:root {
    --base00:#1c1709;
    --base01:#1c1709;
    --base02:#4f4939;
    --base03:#00617d;
    --base04:#c2b9a1;
    --base05:#c2b9a1;
    --base06:#f2e8c9;
    --base07:#f2e8c9;
    --base08:#8e4317;
    --base09:#945c00;
    --base0A:#315094;
    --base0B:#787200;
    --base0C:#00617d;
    --base0D:#315094;
    --base0E:#5c2e40;
    --base0F:#c2b9a1;
}