/* Base2tone Lavender Dark by atelierbram(https://github.com/atelierbram/Base2Tone-nvim) */
:root {
    --base00:#201d2a;
    --base01:#2c2839;
    --base02:#4b455f;
    --base03:#6e658b;
    --base04:#9375f5;
    --base05:#d8cce0;
    --base06:#ece4f1;
    --base07:#faf8fc;
    --base08:#a286fd;
    --base09:#ecd1ff;
    --base0A:#dcd2fe;
    --base0B:#d294ff;
    --base0C:#a286fd;
    --base0D:#dcd2fe;
    --base0E:#ecd1ff;
    --base0F:#b042ff;
}