/* Yousai by Kori */
:root {
    --base00:#F5E7DE;
    --base01:#666661;
    --base02:#7F7F7A;
    --base03:#F2854A;
    --base04:#34302D;
    --base05:#34302D;
    --base06:#4C4742;
    --base07:#4C4742;
    --base08:#B23636;
    --base09:#BF8F60;
    --base0A:#5986B2;
    --base0B:#664233;
    --base0C:#F2854A;
    --base0D:#5986B2;
    --base0E:#D9AE98;
    --base0F:#4C4742;
}