/* Material v2 by Tillreetree */
:root {
    --base00: #263238;
    --base01: #37474f;
    --base02: #37474f;
    --base03: #cfd8dc;
    --base04: #cfd8dc;
    --base05: #eceff1;
    --base06: #eceff1;
    --base07: #81d4fa;
    --base08: #ff9800;
    --base09: #ffa74d;
    --base0A: #ffc107;
    --base0B: #8bc34a;
    --base0C: #26a69a;
    --base0D: #03a9f4;
    --base0E: #81d4fa;
    --base0F: #e91e63;
}