/* Base2tone Desert Dark by atelierbram(https://github.com/atelierbram/Base2Tone-nvim) */
:root {
    --base00:#292724;
    --base01:#3d3a34;
    --base02:#615c51;
    --base03:#908774;
    --base04:#816f4b;
    --base05:#dcd5d0;
    --base06:#ede7e3;
    --base07:#fbfaf9;
    --base08:#957e50;
    --base09:#ffb380;
    --base0A:#ddcba6;
    --base0B:#ec9255;
    --base0C:#957e50;
    --base0D:#ddcba6;
    --base0E:#ffb380;
    --base0F:#bc672f;
}