/* Base2tone Porch Dark by atelierbram(https://github.com/atelierbram/Base2Tone-nvim) */
:root {
    --base00:#221e24;
    --base01:#302a32;
    --base02:#574e5a;
    --base03:#716774;
    --base04:#9466a3;
    --base05:#dacfc8;
    --base06:#ede3de;
    --base07:#fcf9f8;
    --base08:#a77cb6;
    --base09:#ffc29e;
    --base0A:#dfcbe6;
    --base0B:#f39b68;
    --base0C:#a77cb6;
    --base0D:#dfcbe6;
    --base0E:#ffc29e;
    --base0F:#c46731;
}