/* Panels by dkeg */
:root {
    --base00:#000000;
    --base01:#191927;
    --base02:#905749;
    --base03:#fa8e08;
    --base04:#744537;
    --base05:#d3d3d3;
    --base06:#fca806;
    --base07:#fca806;
    --base08:#94431c;
    --base09:#a38687;
    --base0A:#e1750f;
    --base0B:#9f582a;
    --base0C:#fa8e08;
    --base0D:#e1750f;
    --base0E:#eaaf25;
    --base0F:#fca806;
}