/* Base2tone Earth Light by atelierbram(https://github.com/atelierbram/Base2Tone-nvim) */
:root {
    --base00:#f2efe8;
    --base01:#e2dcd0;
    --base02:#cfc9b9;
    --base03:#bbb4a5;
    --base04:#816d5f;
    --base05:#5b534d;
    --base06:#3f3a37;
    --base07:#322d29;
    --base08:#6f5849;
    --base09:#cda956;
    --base0A:#816d5f;
    --base0B:#9c8349;
    --base0C:#a48774;
    --base0D:#6f5849;
    --base0E:#9c8349;
    --base0F:#f1be46;
}