/* Pulp by  */
:root {
    --base00:#000000;
    --base01:#86817e;
    --base02:#86817e;
    --base03:#86abd9;
    --base04:#f7f8f2;
    --base05:#ffffff;
    --base06:#f7f8f2;
    --base07:#f7f8f2;
    --base08:#a63a3a;
    --base09:#ffb365;
    --base0A:#68778c;
    --base0B:#688c7d;
    --base0C:#86abd9;
    --base0D:#68778c;
    --base0E:#8c686a;
    --base0F:#f7f8f2;
}