/* Mikado by  */
:root {
    --base00:#000000;
    --base01:#322a2c;
    --base02:#46423b;
    --base03:#9fa590;
    --base04:#bcbcaf;
    --base05:#ffffff;
    --base06:#c1c4bc;
    --base07:#c1c4bc;
    --base08:#ae837a;
    --base09:#c7a551;
    --base0A:#74999e;
    --base0B:#b4aa30;
    --base0C:#9fa590;
    --base0D:#74999e;
    --base0E:#9c818e;
    --base0F:#c1c4bc;
}