/* Rydgel by  */
:root {
    --base00:#000000;
    --base01:#303430;
    --base02:#cdb5cd;
    --base03:#a1b5cd;
    --base04:#ffffff;
    --base05:#ffffff;
    --base06:#dedede;
    --base07:#dedede;
    --base08:#f4a45f;
    --base09:#ffffed;
    --base0A:#98afd9;
    --base0B:#c5f779;
    --base0C:#a1b5cd;
    --base0D:#98afd9;
    --base0E:#d7d998;
    --base0F:#dedede;
}