/* Base2tone Pool Light by atelierbram(https://github.com/atelierbram/Base2Tone-nvim) */
:root {
    --base00:#fbf9f9;
    --base01:#eae1e1;
    --base02:#d7cccb;
    --base03:#c2b8b7;
    --base04:#aa75f5;
    --base05:#574b68;
    --base06:#372f42;
    --base07:#2a2433;
    --base08:#8f51e6;
    --base09:#f36f68;
    --base0A:#aa75f5;
    --base0B:#cf504a;
    --base0C:#d6b9fe;
    --base0D:#8f51e6;
    --base0E:#cf504a;
    --base0F:#ff9e99;
}