/* Phrak1 by  */
:root {
    --base00:#000000;
    --base01:#000000;
    --base02:#545054;
    --base03:#00a8a8;
    --base04:#a8a8a8;
    --base05:#a8a8a8;
    --base06:#f8fcf8;
    --base07:#f8fcf8;
    --base08:#a80000;
    --base09:#a85400;
    --base0A:#0000a8;
    --base0B:#00a800;
    --base0C:#00a8a8;
    --base0D:#0000a8;
    --base0E:#a800a8;
    --base0F:#a8a8a8;
}