/* Bleh-1 by  */
:root {
    --base00:#000000;
    --base01:#666666;
    --base02:#8c847f;
    --base03:#4dbda8;
    --base04:#a5a5a4;
    --base05:#ffffff;
    --base06:#848484;
    --base07:#848484;
    --base08:#bd4b76;
    --base09:#bd814b;
    --base0A:#4c83bf;
    --base0B:#95b548;
    --base0C:#4dbda8;
    --base0D:#4c83bf;
    --base0E:#a04bbd;
    --base0F:#848484;
}