/* Base2tone Cave Light by atelierbram(https://github.com/atelierbram/Base2Tone-nvim) */
:root {
    --base00:#fbfaf9;
    --base01:#eae7e1;
    --base02:#d6d3cc;
    --base03:#c1beb9;
    --base04:#936c7a;
    --base05:#565254;
    --base06:#2f2d2e;
    --base07:#222021;
    --base08:#ad1f51;
    --base09:#c39622;
    --base0A:#936c7a;
    --base0B:#996e00;
    --base0C:#e28dab;
    --base0D:#ad1f51;
    --base0E:#996e00;
    --base0F:#ebbc47;
}