/* Catch Me If You Can by dkeg */
:root {
    --base00:#170f0d;
    --base01:#130f0c;
    --base02:#c69f77;
    --base03:#eae3dc;
    --base04:#c4ae99;
    --base05:#f9f9f9;
    --base06:#f6f2f0;
    --base07:#f6f2f0;
    --base08:#cab9a8;
    --base09:#dcd1c7;
    --base0A:#e0e0e2;
    --base0B:#d5c6b8;
    --base0C:#eae3dc;
    --base0D:#e0e0e2;
    --base0E:#e4dad2;
    --base0F:#f6f2f0;
}