/* Hybrid by w0ng */
:root {
    --base00:#1D1F21;
    --base01:#282A2E;
    --base02:#373B41;
    --base03:#8ABEB7;
    --base04:#707880;
    --base05:#C5C8C6;
    --base06:#C5C8C6;
    --base07:#C5C8C6;
    --base08:#CC6666;
    --base09:#F0C674;
    --base0A:#81A2BE;
    --base0B:#B5BD68;
    --base0C:#8ABEB7;
    --base0D:#81A2BE;
    --base0E:#B294BB;
    --base0F:#C5C8C6;
}