/* Monokai by Cacodaimon */
:root {
    --base00:#272822;
    --base01:#48483e;
    --base02:#76715e;
    --base03:#66efd5;
    --base04:#acada1;
    --base05:#f1ebeb;
    --base06:#cfd0c2;
    --base07:#cfd0c2;
    --base08:#fa2772;
    --base09:#e7db75;
    --base0A:#66d9ee;
    --base0B:#a7e22e;
    --base0C:#66efd5;
    --base0D:#66d9ee;
    --base0E:#ae82ff;
    --base0F:#cfd0c2;
}