/* Light White by Gutterslob */
:root {
    --base00:#000000;
    --base01:#808080;
    --base02:#9c9c9c;
    --base03:#4e848a;
    --base04:#bfbfbf;
    --base05:#ffffff;
    --base06:#9c9c9c;
    --base07:#9c9c9c;
    --base08:#a15048;
    --base09:#916f27;
    --base0A:#567cb0;
    --base0B:#4b7508;
    --base0C:#4e848a;
    --base0D:#567cb0;
    --base0E:#964e8f;
    --base0F:#9c9c9c;
}