/* Nancy by  */
:root {
    --base00:#010101;
    --base01:#1b1d1e;
    --base02:#505354;
    --base03:#899ca1;
    --base04:#ccccc6;
    --base05:#ffffff;
    --base06:#f8f8f2;
    --base07:#f8f8f2;
    --base08:#ff5995;
    --base09:#feed6c;
    --base0A:#0c73c2;
    --base0B:#b6e354;
    --base0C:#899ca1;
    --base0D:#0c73c2;
    --base0E:#9e6ffe;
    --base0F:#f8f8f2;
}