/* Invisibone by Baskerville */
:root {
    --base00:#232323;
    --base01:#303030;
    --base02:#686868;
    --base03:#75DAA9;
    --base04:#CFCFCF;
    --base05:#A0A0A0;
    --base06:#FFFFFF;
    --base07:#FFFFFF;
    --base08:#FFA7DA;
    --base09:#EFBD8B;
    --base0A:#98CBFE;
    --base0B:#A3D572;
    --base0C:#75DAA9;
    --base0D:#98CBFE;
    --base0E:#E5B0FF;
    --base0F:#FFFFFF;
}