/* Trim Yer Beard by franksn */
:root {
    --base00:#191716;
    --base01:#0F0E0D;
    --base02:#383332;
    --base03:#718062;
    --base04:#A18B62;
    --base05:#DABA8B;
    --base06:#BC9D66;
    --base07:#BC9D66;
    --base08:#8C4F4A;
    --base09:#C8B491;
    --base0A:#65788F;
    --base0B:#898471;
    --base0C:#718062;
    --base0D:#65788F;
    --base0E:#755E4A;
    --base0F:#BC9D66;
}