/* magical girl by Ashley Trinh (https://github.com/atrnh/magical-girl-vim) */

:root {
  --base00: #fbfbfb;
  --base01: #e8e8e8;
  --base02: #e7e5ff;
  --base03: #ab60e6;
  --base04: #5b5194;
  --base05: #6b6b6b;
  --base06: #692fd5;
  --base07: #a4b6da;
  --base08: #ff2f6f;
  --base09: #fd28a2;
  --base0A: #01c8ba;
  --base0B: #736ee9;
  --base0C: #ffca66;
  --base0D: #2199ff;
  --base0E: #002bcf;
  --base0F: #fc9494;
}
