/* Red Phoenix by dkeg */
:root {
    --base00:#111111;
    --base01:#131313;
    --base02:#d1d1d1;
    --base03:#aaa998;
    --base04:#b1b1b1;
    --base05:#ffffff;
    --base06:#fa390f;
    --base07:#fa390f;
    --base08:#2d2d2d;
    --base09:#4e4e4e;
    --base0A:#6f6f6f;
    --base0B:#4c3a3d;
    --base0C:#aaa998;
    --base0D:#6f6f6f;
    --base0E:#909090;
    --base0F:#b1b1b1;
}