/* Embark by embark-theme (https://embark-theme.github.io/) */

:root {
  --base00: #1E1C31;
  --base01: #100E23;
  --base02: #2D2B40;
  --base03: #3E3859;
  --base04: #585273;
  --base05: #8A889D;
  --base06: #CBE3E7;
  --base07: #CBE3E7;
  --base08: #ABF8F7;
  --base09: #F2B482;
  --base0A: #D4BFFF;
  --base0B: #FFE6B3;
  --base0C: #ABF8F7;
  --base0D: #F48FB1;
  --base0E: #A1EFD3;
  --base0F: #78A8FF;
}
