/* citrus mist by Antonio Hickey(https://github.com/antonio-hickey/citrus-mist) */

:root {
  --base00: #131F25;
  --base01: #2F2F2F;
  --base02: #23201C;
  --base03: #253A44;
  --base04: #666d70;
  --base05: #E1EAEF;
  --base06: #B7CDD8;
  --base07: #F1F5F7;
  --base08: #FFC55F;
  --base09: #FAFFA7;
  --base0A: #C7E77E;
  --base0B: #E4F9A9;
  --base0C: #FFC55F;
  --base0D: #77A1B6;
  --base0E: #C7E77E;
  --base0F: #FAFFA7;
}
