/* Mashup Colors by user 77 */
:root {
    --base00:#171717;
    --base01:#202020;
    --base02:#404040;
    --base03:#9fa590;
    --base04:#b2a191;
    --base05:#b2a191;
    --base06:#e8d0c3;
    --base07:#e8d0c3;
    --base08:#ff6c5f;
    --base09:#c7a551;
    --base0A:#95b9de;
    --base0B:#b8ca4b;
    --base0C:#9fa590;
    --base0D:#95b9de;
    --base0E:#ad7fa8;
    --base0F:#e8d0c3;
}