/* Visibone Alt. 2 by Gutterslob */
:root {
    --base00:#333333;
    --base01:#666666;
    --base02:#999999;
    --base03:#66CC99;
    --base04:#CCCCCC;
    --base05:#CCCCCC;
    --base06:#FFFFFF;
    --base07:#FFFFFF;
    --base08:#CC6699;
    --base09:#CC9966;
    --base0A:#6699CC;
    --base0B:#99CC66;
    --base0C:#66CC99;
    --base0D:#6699CC;
    --base0E:#9966CC;
    --base0F:#CCCCCC;
}