/* Bleh-1 by  */
:root {
    --base00:#000000;
    --base01:#666666;
    --base02:#8c847f;
    --base03:#65998d;
    --base04:#a5a5a4;
    --base05:#ffffff;
    --base06:#848484;
    --base07:#848484;
    --base08:#996578;
    --base09:#998565;
    --base0A:#657a99;
    --base0B:#889965;
    --base0C:#65998d;
    --base0D:#657a99;
    --base0E:#8b6599;
    --base0F:#a5a5a4;
}