/* Visibone Alt. 2 by Gutterslob */
:root {
    --base00:#333333;
    --base01:#666666;
    --base02:#999999;
    --base03:#99FFCC;
    --base04:#CCCCCC;
    --base05:#CCCCCC;
    --base06:#FFFFFF;
    --base07:#FFFFFF;
    --base08:#FF99CC;
    --base09:#FFCC99;
    --base0A:#99CCFF;
    --base0B:#CCFF99;
    --base0C:#99FFCC;
    --base0D:#99CCFF;
    --base0E:#CC99FF;
    --base0F:#FFFFFF;
}