/* Unsifted Wheat by dkeg */
:root {
    --base00:#111111;
    --base01:#382c2f;
    --base02:#ac9377;
    --base03:#dfc39b;
    --base04:#9a846d;
    --base05:#d3d3d3;
    --base06:#eed8c4;
    --base07:#eed8c4;
    --base08:#baa17e;
    --base09:#c1a67e;
    --base0A:#cfb48e;
    --base0B:#bca282;
    --base0C:#dfc39b;
    --base0D:#cfb48e;
    --base0E:#d1baa3;
    --base0F:#eed8c4;
}