/* zenburn by  */
:root {
    --base00:#000000;
    --base01:#1e2320;
    --base02:#709080;
    --base03:#8cd0d3;
    --base04:#dcdccc;
    --base05:#ffffff;
    --base06:#ffffff;
    --base07:#ffffff;
    --base08:#705050;
    --base09:#dfaf8f;
    --base0A:#506070;
    --base0B:#60b48a;
    --base0C:#8cd0d3;
    --base0D:#506070;
    --base0E:#dc8cc3;
    --base0F:#dcdccc;
}