/* Base2tone Mall Light by atelierbram(https://github.com/atelierbram/Base2Tone-nvim) */
:root {
    --base00:#f8fafc;
    --base01:#dee6ed;
    --base02:#c8d2da;
    --base03:#b5bdc4;
    --base04:#a17efc;
    --base05:#515053;
    --base06:#2b2b2c;
    --base07:#1e1e1f;
    --base08:#855ee8;
    --base09:#69b5f7;
    --base0A:#a17efc;
    --base0B:#3692e2;
    --base0C:#d3c2ff;
    --base0D:#855ee8;
    --base0E:#3692e2;
    --base0F:#9ed2ff;
}