/* Github Light by Cormac Relf(https://github.com/cormacrelf/vim-colors-github/) */

:root {
  --base00: #fafbfc;
  --base01: #f1f2f4;
  --base02: #e4effb;
  --base03: #6a737d;
  --base04: #76787b;
  --base05: #24292e;
  --base06: #41484f;
  --base07: #42474c;
  --base08: #b31d28;
  --base09: #e36209;
  --base0A: #595322;
  --base0B: #22863a;
  --base0C: #5d8c6f;
  --base0D: #005cc5;
  --base0E: #45267d;
  --base0F: #a887e6;
}
