/* tlh by  */
:root {
    --base00:#101010;
    --base01:#1c1c1c;
    --base02:#4d4d4d;
    --base03:#43afce;
    --base04:#f3ebe2;
    --base05:#66ff66;
    --base06:#eeeeee;
    --base07:#eeeeee;
    --base08:#d81860;
    --base09:#f9fd75;
    --base0A:#4695c8;
    --base0B:#60ff60;
    --base0C:#43afce;
    --base0D:#4695c8;
    --base0E:#a78edb;
    --base0F:#f3ebe2;
}