/* City Streets by dkeg */
:root {
    --base00:#000000;
    --base01:#201e24;
    --base02:#837c78;
    --base03:#6e6765;
    --base04:#837e81;
    --base05:#d3d3d3;
    --base06:#efe8dc;
    --base07:#efe8dc;
    --base08:#2d2b30;
    --base09:#413c3e;
    --base0A:#423e41;
    --base0B:#3f3d40;
    --base0C:#6e6765;
    --base0D:#423e41;
    --base0E:#4e4a4b;
    --base0F:#837e81;
}