/* Sweet Love by Boroshlawa */
:root {
    --base00:#1F1F1F;
    --base01:#4A3637;
    --base02:#402E2E;
    --base03:#6D715E;
    --base04:#C0B18B;
    --base05:#C0B18B;
    --base06:#978965;
    --base07:#978965;
    --base08:#D17B49;
    --base09:#AF865A;
    --base0A:#535C5C;
    --base0B:#7B8748;
    --base0C:#6D715E;
    --base0D:#535C5C;
    --base0E:#775759;
    --base0F:#C0B18B;
}