/* Shic by  */
:root {
    --base00:#000000;
    --base01:#494949;
    --base02:#484848;
    --base03:#695935;
    --base04:#b1b1b1;
    --base05:#ffffff;
    --base06:#c7c7c7;
    --base07:#c7c7c7;
    --base08:#b9716e;
    --base09:#aaa857;
    --base0A:#a0c3c0;
    --base0B:#588f7a;
    --base0C:#695935;
    --base0D:#a0c3c0;
    --base0E:#735e74;
    --base0F:#b1b1b1;
}