/* Parker Brothers by  */
:root {
    --base00:#000000;
    --base01:#322a2c;
    --base02:#46423b;
    --base03:#394745;
    --base04:#ae8842;
    --base05:#ffffff;
    --base06:#a59058;
    --base07:#a59058;
    --base08:#79220e;
    --base09:#b45b00;
    --base0A:#434045;
    --base0B:#344b1b;
    --base0C:#394745;
    --base0D:#434045;
    --base0E:#5c1e25;
    --base0F:#ae8842;
}