/* theme2 by  */
:root {
    --base00:#000000;
    --base01:#191919;
    --base02:#484848;
    --base03:#68a783;
    --base04:#eaeaea;
    --base05:#ffffff;
    --base06:#bbbbbb;
    --base07:#bbbbbb;
    --base08:#eb3d51;
    --base09:#d98e1d;
    --base0A:#23ffa8;
    --base0B:#66b61a;
    --base0C:#68a783;
    --base0D:#23ffa8;
    --base0E:#ff00da;
    --base0F:#eaeaea;
}