/* GJM by  */
:root {
    --base00:#1c1c1c;
    --base01:#1c1c1c;
    --base02:#666666;
    --base03:#0ac1cd;
    --base04:#e5e5e5;
    --base05:#c5c5c5;
    --base06:#f3f3f3;
    --base07:#f3f3f3;
    --base08:#ff005b;
    --base09:#ffe755;
    --base0A:#048ac7;
    --base0B:#cee318;
    --base0C:#0ac1cd;
    --base0D:#048ac7;
    --base0E:#833c9f;
    --base0F:#e5e5e5;
}