/* Epiphany by  */
:root {
    --base00:#000000;
    --base01:#565656;
    --base02:#656565;
    --base03:#445362;
    --base04:#ffffff;
    --base05:#ffffff;
    --base06:#c0c0c0;
    --base07:#c0c0c0;
    --base08:#ac4f4f;
    --base09:#d0d9ad;
    --base0A:#677088;
    --base0B:#88ab77;
    --base0C:#445362;
    --base0D:#677088;
    --base0E:#cdcdb4;
    --base0F:#ffffff;
}