/* Base2tone Morning Dark by atelierbram(https://github.com/atelierbram/Base2Tone-nvim) */
:root {
    --base00:#232834;
    --base01:#31363f;
    --base02:#4f5664;
    --base03:#707a8f;
    --base04:#1659df;
    --base05:#cdc4b1;
    --base06:#e3dcce;
    --base07:#faf8f5;
    --base08:#3d75e6;
    --base09:#e5ddcd;
    --base0A:#b7c9eb;
    --base0B:#b29762;
    --base0C:#3d75e6;
    --base0D:#b7c9eb;
    --base0E:#e5ddcd;
    --base0F:#2d2006;
}