/* Nucolors by  */
:root {
    --base00:#000000;
    --base01:#393939;
    --base02:#474747;
    --base03:#9ce9ff;
    --base04:#dddddd;
    --base05:#ffffff;
    --base06:#dddddd;
    --base07:#dddddd;
    --base08:#ff8d80;
    --base09:#ffbe64;
    --base0A:#7eb6ff;
    --base0B:#dbffb3;
    --base0C:#9ce9ff;
    --base0D:#7eb6ff;
    --base0E:#e296ff;
    --base0F:#dddddd;
}