/* Gotham by whatyouhide */
:root {
    --base00:#0a0f14;
    --base01:#0a0f14;
    --base02:#10151b;
    --base03:#33859d;
    --base04:#98d1ce;
    --base05:#98d1ce;
    --base06:#d3ebe9;
    --base07:#d3ebe9;
    --base08:#c33027;
    --base09:#edb54b;
    --base0A:#195465;
    --base0B:#26a98b;
    --base0C:#33859d;
    --base0D:#195465;
    --base0E:#4e5165;
    --base0F:#98d1ce;
}