/* ashen by Tuomas Kasmra (https://www.vim.org/scripts/script.php?script_id=2538) */

:root {
  --base00: #e0e0e0;
  --base01: #84986C;
  --base02: #ffffcc;
  --base03: #c03417;
  --base04: #8b8b8b;
  --base05: #000000;
  --base06: #6f8b17;
  --base07: #e0e0e0;
  --base08: #4848f3;
  --base09: #669900;
  --base0A: #01c1c7;
  --base0B: #eb2c2c;
  --base0C: #32329e;
  --base0D: #660066;
  --base0E: #c03417;
  --base0F: #00ccff;
}
