/* Ivory Light by Baskerville */
:root {
    --base00:#fef9ec;
    --base01:#c5c1b4;
    --base02:#a1a6b2;
    --base03:#00a4c1;
    --base04:#3e424d;
    --base05:#6d727e;
    --base06:#282c36;
    --base07:#282c36;
    --base08:#e75c58;
    --base09:#a08a00;
    --base0A:#208ffb;
    --base0B:#00a250;
    --base0C:#00a4c1;
    --base0D:#208ffb;
    --base0E:#d160c4;
    --base0F:#3e424d;
}