/* Simple Rainbow by  */
:root {
    --base00:#575757;
    --base01:#666666;
    --base02:#888888;
    --base03:#ffc178;
    --base04:#dddddd;
    --base05:#dcdccc;
    --base06:#cccccc;
    --base07:#cccccc;
    --base08:#ff8278;
    --base09:#eadc84;
    --base0A:#77bee0;
    --base0B:#bde077;
    --base0C:#ffc178;
    --base0D:#77bee0;
    --base0E:#dd91f3;
    --base0F:#dddddd;
}