/* SpaceBox by amnweb (https://github.com/amnweb/SpaceBox-Theme) */

:root {
  --base00: #0D1117;
  --base01: #000D1C;
  --base02: #383838;
  --base03: #666666;
  --base04: #BDC0DA;
  --base05: #C9CCE6;
  --base06: #F1F1F1;
  --base07: #FFFFFF;
  --base08: #EF56FF;
  --base09: #9891FF;
  --base0A: #8069FF;
  --base0B: #5C78FF;
  --base0C: #2883FF;
  --base0D: #28B9FF;
  --base0E: #5AC8FF;
  --base0F: #98AEC9;
}
