/* Hybrid by w0ng */
:root {
    --base00:#1D1F21;
    --base01:#282A2E;
    --base02:#373B41;
    --base03:#5E8D87;
    --base04:#707880;
    --base05:#C5C8C6;
    --base06:#C5C8C6;
    --base07:#C5C8C6;
    --base08:#A54242;
    --base09:#DE935F;
    --base0A:#5F819D;
    --base0B:#8C9440;
    --base0C:#5E8D87;
    --base0D:#5F819D;
    --base0E:#85678F;
    --base0F:#707880;
}