/* Nucolors by  */
:root {
    --base00:#000000;
    --base01:#393939;
    --base02:#474747;
    --base03:#c2efff;
    --base04:#dddddd;
    --base05:#ffffff;
    --base06:#dddddd;
    --base07:#dddddd;
    --base08:#ff9f95;
    --base09:#ffffb9;
    --base0A:#a8ceea;
    --base0B:#e2ffc7;
    --base0C:#c2efff;
    --base0D:#a8ceea;
    --base0E:#e2b5cc;
    --base0F:#dddddd;
}