/* Sex Colors by  */
:root {
    --base00:#000000;
    --base01:#252525;
    --base02:#454545;
    --base03:#5e7175;
    --base04:#dbdcdc;
    --base05:#ffffff;
    --base06:#fdfdfd;
    --base07:#fdfdfd;
    --base08:#ff9f95;
    --base09:#fd971f;
    --base0A:#435e87;
    --base0B:#a6e22e;
    --base0C:#5e7175;
    --base0D:#435e87;
    --base0E:#789ec6;
    --base0F:#dbdcdc;
}