/* Red Phoenix by dkeg */
:root {
    --base00:#111111;
    --base01:#131313;
    --base02:#d1d1d1;
    --base03:#f2361e;
    --base04:#b1b1b1;
    --base05:#ffffff;
    --base06:#fa390f;
    --base07:#fa390f;
    --base08:#d2c3ad;
    --base09:#e1e1e1;
    --base0A:#ededed;
    --base0B:#df9767;
    --base0C:#f2361e;
    --base0D:#ededed;
    --base0E:#ed4b19;
    --base0F:#fa390f;
}