/* GJM by  */
:root {
    --base00:#1c1c1c;
    --base01:#1c1c1c;
    --base02:#666666;
    --base03:#63e7f0;
    --base04:#e5e5e5;
    --base05:#c5c5c5;
    --base06:#f3f3f3;
    --base07:#f3f3f3;
    --base08:#ff00a0;
    --base09:#ff9f00;
    --base0A:#48c6ff;
    --base0B:#ccff00;
    --base0C:#63e7f0;
    --base0D:#48c6ff;
    --base0E:#be67e1;
    --base0F:#f3f3f3;
}