/* Tangoesque by  */
:root {
    --base00:#000000;
    --base01:#202020;
    --base02:#606060;
    --base03:#46a4ff;
    --base04:#cccccc;
    --base05:#aaaaaa;
    --base06:#ffffff;
    --base07:#ffffff;
    --base08:#ff8d8d;
    --base09:#ffc123;
    --base0A:#3465a4;
    --base0B:#c8e7a8;
    --base0C:#46a4ff;
    --base0D:#3465a4;
    --base0E:#f57900;
    --base0F:#ffffff;
}