/* VWbug by dkeg */
:root {
    --base00:#170f0d;
    --base01:#261e26;
    --base02:#906756;
    --base03:#e7ddd1;
    --base04:#8e7266;
    --base05:#746c48;
    --base06:#faf7f2;
    --base07:#faf7f2;
    --base08:#927e7e;
    --base09:#b48b6f;
    --base0A:#c4ab98;
    --base0B:#ad6042;
    --base0C:#e7ddd1;
    --base0D:#c4ab98;
    --base0E:#d9c9b6;
    --base0F:#faf7f2;
}