/* VisiBone by  */
:root {
    --base00:#000000;
    --base01:#666666;
    --base02:#999999;
    --base03:#99ffff;
    --base04:#cccccc;
    --base05:#ffffff;
    --base06:#ffffff;
    --base07:#ffffff;
    --base08:#ff9999;
    --base09:#ffcc99;
    --base0A:#99ccff;
    --base0B:#99ffcc;
    --base0C:#99ffff;
    --base0D:#99ccff;
    --base0E:#ff99cc;
    --base0F:#ffffff;
}