/* SOS by Rooster */
:root {
    --base00:#373b43;
    --base01:#373b43;
    --base02:#373b43;
    --base03:#63e860;
    --base04:#efdecb;
    --base05:#78796f;
    --base06:#efdecb;
    --base07:#efdecb;
    --base08:#fdcd39;
    --base09:#deac40;
    --base0A:#afb171;
    --base0B:#fbfd59;
    --base0C:#63e860;
    --base0D:#afb171;
    --base0E:#b387e7;
    --base0F:#efdecb;
}