/* aikofog by Gutterslob */
:root {
    --base00:#f1eee9;
    --base01:#757475;
    --base02:#4a4a4a;
    --base03:#2ea89a;
    --base04:#9a9a9a;
    --base05:#b2b3b8;
    --base06:#c4c4c4;
    --base07:#c4c4c4;
    --base08:#d76572;
    --base09:#a8981f;
    --base0A:#7782cf;
    --base0B:#4fae42;
    --base0C:#2ea89a;
    --base0D:#7782cf;
    --base0E:#b754c4;
    --base0F:#c4c4c4;
}