/* X::DotShare by crshd */
:root {
    --base00:#151515;
    --base01:#101010;
    --base02:#404040;
    --base03:#6D878D;
    --base04:#DDDDDD;
    --base05:#D7D0C7;
    --base06:#DDDDDD;
    --base07:#DDDDDD;
    --base08:#E84F4F;
    --base09:#E1AA5D;
    --base0A:#7DC1CF;
    --base0B:#B8D68C;
    --base0C:#6D878D;
    --base0D:#7DC1CF;
    --base0E:#9B64FB;
    --base0F:#DDDDDD;
}