/* JWR dark by  */
:root {
    --base00:#000000;
    --base01:#333333;
    --base02:#3d3d3d;
    --base03:#31658c;
    --base04:#899ca1;
    --base05:#ffffff;
    --base06:#c0c0c0;
    --base07:#c0c0c0;
    --base08:#8c4665;
    --base09:#7c7c99;
    --base0A:#395573;
    --base0B:#287373;
    --base0C:#31658c;
    --base0D:#395573;
    --base0E:#5e468c;
    --base0F:#899ca1;
}