/* Color Star by dkeg */

:root {
  --base00: #000000; 
  --base01: #03010f; 
  --base02: #353b64; 
  --base03: #353b64; 
  --base04: #ab9e9e; 
  --base05: #bbada9; 
  --base06: #d3d3d3; 
  --base07: #f6f4df; 
  --base08: #f4e199; 
  --base09: #c37305; 
  --base0A: #6067ac; 
  --base0B: #d7b559; 
  --base0C: #b28930; 
  --base0D: #7c83c0; 
  --base0E: #d0ae58; 
  --base0F: #8c2424; 
}