/* Base2tone Porch Light by atelierbram(https://github.com/atelierbram/Base2Tone-nvim) */
:root {
    --base00:#fcf9f8;
    --base01:#ede3de;
    --base02:#dacfc8;
    --base03:#c4bbb5;
    --base04:#9466a3;
    --base05:#574e5a;
    --base06:#302a32;
    --base07:#221e24;
    --base08:#674573;
    --base09:#ec8d55;
    --base0A:#9466a3;
    --base0B:#c46731;
    --base0C:#cdacd7;
    --base0D:#674573;
    --base0E:#c46731;
    --base0F:#fcb58d;
}