/* Gnometerm by  */
:root {
    --base00:#000000;
    --base01:#000000;
    --base02:#555753;
    --base03:#06989a;
    --base04:#d3d7cf;
    --base05:#ffffff;
    --base06:#eeeeec;
    --base07:#eeeeec;
    --base08:#cc0000;
    --base09:#c4a000;
    --base0A:#3465a4;
    --base0B:#4e9a06;
    --base0C:#06989a;
    --base0D:#3465a4;
    --base0E:#75507b;
    --base0F:#d3d7cf;
}