/* Base2tone Forest Light by atelierbram(https://github.com/atelierbram/Base2Tone-nvim) */
:root {
    --base00:#fbfbf8;
    --base01:#eaecdf;
    --base02:#d7dac8;
    --base03:#c3c6b3;
    --base04:#5c705c;
    --base05:#485148;
    --base06:#353b35;
    --base07:#2a2d2a;
    --base08:#435643;
    --base09:#b1c44f;
    --base0A:#5c705c;
    --base0B:#656b47;
    --base0C:#b3d6b3;
    --base0D:#435643;
    --base0E:#656b47;
    --base0F:#daf06a;
}