/* Orangish by  */
:root {
    --base00:#000000;
    --base01:#251f1f;
    --base02:#5e5e5e;
    --base03:#d6dbac;
    --base04:#efefef;
    --base05:#ffffff;
    --base06:#efefef;
    --base07:#efefef;
    --base08:#eb4509;
    --base09:#ffac18;
    --base0A:#46aede;
    --base0B:#94e76b;
    --base0C:#d6dbac;
    --base0D:#46aede;
    --base0E:#e32c57;
    --base0F:#efefef;
}