/* Ivory Dark by Baskerville */
:root {
    --base00:#2d2c28;
    --base01:#5b5955;
    --base02:#707277;
    --base03:#019baa;
    --base04:#dbdde2;
    --base05:#a4a6ab;
    --base06:#f7f9ff;
    --base07:#f7f9ff;
    --base08:#c4756e;
    --base09:#9b8a4b;
    --base0A:#6a8dca;
    --base0B:#559a6a;
    --base0C:#019baa;
    --base0D:#6a8dca;
    --base0E:#b577ac;
    --base0F:#dbdde2;
}