/* Red Phoenix by dkeg */
/* Ported to base16 by Tillreetree */

:root {
    --base00:#111111;
    --base01:#131313;
    --base02:#4c3a3d;
    --base03:#4e4e4e;
    --base04:#6f6f6f;
    --base05:#b1b1b1;
    --base06:#d1d1d1;
    --base07:#ededed;
    --base08:#aaa998;
    --base09:#d1d1d1;
    --base0A:#df9767;
    --base0B:#d2c3ad;
    --base0C:#fa390f;
    --base0D:#f2361e;
    --base0E:#ed4b19;
    --base0F:#6f6f6f;
}