/* Mikado by  */
:root {
    --base00:#000000;
    --base01:#322a2c;
    --base02:#46423b;
    --base03:#757978;
    --base04:#bcbcaf;
    --base05:#ffffff;
    --base06:#c1c4bc;
    --base07:#c1c4bc;
    --base08:#a04363;
    --base09:#bf7a29;
    --base0A:#6a8c8c;
    --base0B:#9b9329;
    --base0C:#757978;
    --base0D:#6a8c8c;
    --base0E:#856774;
    --base0F:#bcbcaf;
}