/* Base2tone Evening Dark by atelierbram(https://github.com/atelierbram/Base2Tone-nvim) */
:root {
    --base00:#2a2734;
    --base01:#363342;
    --base02:#545167;
    --base03:#787391;
    --base04:#8a75f5;
    --base05:#d8d1ca;
    --base06:#ebe6e0;
    --base07:#fbfaf9;
    --base08:#9a86fd;
    --base09:#ffcc99;
    --base0A:#d9d2fe;
    --base0B:#ffad5c;
    --base0C:#9a86fd;
    --base0D:#d9d2fe;
    --base0E:#ffcc99;
    --base0F:#b37537;
}