/* Base2tone Heath Light by atelierbram(https://github.com/atelierbram/Base2Tone-nvim) */
:root {
    --base00:#fbfaf9;
    --base01:#eae6e1;
    --base02:#d6d2cc;
    --base03:#c1bdb9;
    --base04:#8f6c93;
    --base05:#575158;
    --base06:#2f2d2f;
    --base07:#222022;
    --base08:#a21fad;
    --base09:#c38022;
    --base0A:#8f6c93;
    --base0B:#995900;
    --base0C:#db8de2;
    --base0D:#a21fad;
    --base0E:#995900;
    --base0F:#e6c699;
}