/* Base2tone Space Light by atelierbram(https://github.com/atelierbram/Base2Tone-nvim) */
:root {
    --base00:#fbf9f9;
    --base01:#eae4e1;
    --base02:#d8cfcb;
    --base03:#c3bbb7;
    --base04:#7676f4;
    --base05:#515167;
    --base06:#333342;
    --base07:#24242e;
    --base08:#5151e6;
    --base09:#e66e33;
    --base0A:#7676f4;
    --base0B:#b25424;
    --base0C:#aaaaca;
    --base0D:#5151e6;
    --base0E:#b25424;
    --base0F:#f88349;
}