/* Tango by  */
:root {
    --base00:#000000;
    --base01:#2e3436;
    --base02:#555753;
    --base03:#34e2e2;
    --base04:#d3d7cf;
    --base05:#babdb6;
    --base06:#eeeeec;
    --base07:#eeeeec;
    --base08:#ef2929;
    --base09:#fce94f;
    --base0A:#729fcf;
    --base0B:#8ae234;
    --base0C:#34e2e2;
    --base0D:#729fcf;
    --base0E:#ad7fa8;
    --base0F:#eeeeec;
}