/* Iiamblack by iiamblack */
:root {
    --base00:#000000;
    --base01:#393939;
    --base02:#474747;
    --base03:#435d75;
    --base04:#dddddd;
    --base05:#ffffff;
    --base06:#dddddd;
    --base07:#dddddd;
    --base08:#da4939;
    --base09:#cc7833;
    --base0A:#6d9cbe;
    --base0B:#519f50;
    --base0C:#435d75;
    --base0D:#6d9cbe;
    --base0E:#9f5079;
    --base0F:#dddddd;
}