/* KawaiiTheme Terminal by diff001a (http://github.com/diff001a) */

:root {
  --base00: #2C2638;
  --base01: #353042;
  --base02: #787878;
  --base03: #857282;
  --base04: #787878;
  --base05: #FFF0F5;
  --base06: #ffffff;
  --base07: #9498a1;
  --base08: #ff5c8d;
  --base09: #ec9a5e;
  --base0A: #FFE175;
  --base0B: #37e884;
  --base0C: #FFA7C4;
  --base0D: #9e6dbc;
  --base0E: #CE85F8;
  --base0F: #D08442;
}
