/* VWbug by dkeg */
:root {
    --base00:#170f0d;
    --base01:#261e26;
    --base02:#906756;
    --base03:#6e5450;
    --base04:#8e7266;
    --base05:#746c48;
    --base06:#faf7f2;
    --base07:#faf7f2;
    --base08:#312c38;
    --base09:#503b43;
    --base0A:#57403e;
    --base0B:#4d353b;
    --base0C:#6e5450;
    --base0D:#57403e;
    --base0E:#665453;
    --base0F:#8e7266;
}